@model Management_of_Change.Models.ChangeRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Change Request</h1>

<div>
    <nav class="my-5">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-detail-tab" data-bs-toggle="tab" href="#nav-detail" role="tab" aria-controls="nav-home" aria-selected="true">Details</a>
            <a class="nav-link" id="nav-general-moc-questions-tab" data-bs-toggle="tab" href="#nav-general-moc-questions" role="tab" aria-controls="nav-profile" aria-selected="false">General MOC Questions</a>
            <a class="nav-link" id="nav-impact-assessment-tab" data-bs-toggle="tab" href="#nav-impact-assessment" role="tab" aria-controls="nav-contact" aria-selected="false">Impact Assessments</a>
            <a class="nav-link" id="nav-final-approvals-tab" data-bs-toggle="tab" href="#nav-final-approvals" role="tab" aria-controls="nav-contact" aria-selected="false">Final Approvals</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="text-nowrap">
                <h4 class="mt-5">Details</h4>
                <a class="me-2" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
                <a class="mx-2" asp-action="Index">Back to List</a>
            </div>
            <hr/>
            <dl class="row">
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.MOC_Number)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.MOC_Number) @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Change_Owner)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Change_Owner)
                </dd>
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Change_Status)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Change_Status)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Location_Site)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Location_Site)
                </dd>
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Change_Level)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Change_Level)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Area_of_Change)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Area_of_Change)
                </dd>
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Change_Type)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Change_Type)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Proudct_Line)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Proudct_Line)
                </dd>
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Request_Date)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Request_Date)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Estimated_Completion_Date)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Estimated_Completion_Date)
                </dd>
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Expiration_Date_Temporary)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Expiration_Date_Temporary)
                </dd>
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Raw_Material_Component_Numbers_Impacted)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Raw_Material_Component_Numbers_Impacted)
                </dd>
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Justification_of_the_Change)
                </dt>
                <dd class="col-sm-10 my-1">
                    @Html.DisplayFor(model => model.Justification_of_the_Change, new {@rows = 2})
                </dd>
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Title_Change_Description)
                </dt>
                <dd class="col-sm-10 my-1">
                    @Html.DisplayFor(model => model.Title_Change_Description, new {@rows = 3})
                </dd>
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Scope_of_the_Change)
                </dt>
                <dd class="col-sm-10 my-1">
                    @Html.DisplayFor(model => model.Scope_of_the_Change, new {@rows = 3})
                </dd>

                @*        <dt class="col-sm-2 my-2">&nbsp;</dt>
                <dd class="col-sm-4 my-2">&nbsp;</dd>*@
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.CreatedUser)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.CreatedUser)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ModifiedUser)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ModifiedUser)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.DeletedUser)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.DeletedUser)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.DeletedDate)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.DeletedDate)
                </dd>
                <hr />
            </dl>
        </div>

        <div class="tab-pane fade" id="nav-general-moc-questions" role="tabpanel" aria-labelledby="nav-general-moc-questions">
            <div class="text-nowrap">
                <h4 class="mt-5">General MOC Questions</h4>
                <a asp-action="Index">Back to List</a>
            </div>

            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>
                            Question
                        </th>
                        <th>
                            Response
                        </th>
                        <th>
                            Order
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GeneralMocResponses)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Question)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Response)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Order)
                            </td>
                            <td class="text-nowrap">
                                <a asp-controller="GeneralMocResponses" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-impact-assessment" role="tabpanel" aria-labelledby="nav-impact-assessment-tab">
            <div class="text-nowrap">
                <h4 class="mt-5">Change Evaluations - Impact Assessments</h4>
                @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
                <a asp-action="Index">Back to List</a>
            </div>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>
                            Review Type
                        </th>
                        <th>
                            Change Type
                        </th>
                        <th>
                            Reviewer
                        </th>
                        <th>
                            ReviewerEmail
                        </th>
                        <th>
                            Required
                        </th>
                        <th>
                            Review Completed
                        </th>
                        <th>
                            Date Completed
                        </th>
                        <th>
                            Comment
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ImpactAssessmentResponses != null)
                    {
                        @foreach (var item in Model.ImpactAssessmentResponses)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReviewType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChangeType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reviewer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReviewerEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Required)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReviewCompleted)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCompleted)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comments)
                                </td>
                                <td class="text-nowrap">
                                    <a asp-controller="ImpactAssessmentResponses" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-controller="ImpactAssessmentResponses" asp-action="Details" asp-route-id="@item.Id">Detail</a> 
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-final-approvals" role="tabpanel" aria-labelledby="nav-final-approvals-tab">
            <div class="text-nowrap">
                <h4 class="mt-5">Implementation - Final Approvals </h4>
                @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
                <a asp-action="Index">Back to List</a>
            </div>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>
                            Change Type
                        </th>
                        <th>
                            Final Review Type
                        </th>
                        <th>
                            Reviewer
                        </th>
                        <th>
                            Reviewer Email
                        </th>
                        <th>
                            Review Result
                        </th>
                        <th>
                            Review Completed
                        </th>
                        <th>
                            Date Completed)
                        </th>
                        <th>
                            Comment
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ImplementationFinalApprovalResponses)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ChangeType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FinalReviewType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reviewer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReviewerEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReviewResult)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReviewCompleted)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCompleted)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comments)
                            </td>
                            <td>
                                <a asp-controller="ImplementationFinalApprovalResponses" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr />
<div class="text-nowrap">
    @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
