@*@model Management_of_Change.Models.ChangeRequest*@
@model Management_of_Change.ViewModels.ChangeRequestViewModel
@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col-4">
        <h1 style="display:inline">
            <span class="me-2 text-nowrap">
                Change Request
            </span>
            <span class="" title="Create New MoC based on this MoC.  Include all Details and General MoC Questions only. Status will be set to 'Draft' and ChangeOwner will be you.">
                @Html.ActionLink("Clone","Clone", new {id=@Model?.ChangeRequest?.Id, tab="Details"},new {@class="btn btn-success align-middle"})
                @* @Html.ActionLink("Download New Equipment Checklist","DownloadNewEquipmentChecklist","ChangeRequests", new {id=@Model.ChangeRequest.Id}, new {@class="btn btn-secondary", title="Download 'New Equipment Checklist' Spreadsheet to Download Folder"}) *@
            </span>
        </h1>
    </div>
    <div class="col-8 text-end">
        <h4>
            <span class="fw-bold">
                @Html.DisplayFor(model => model.ChangeRequest.MOC_Number)
            </span>
        </h4>
        <h4>
            @Html.DisplayNameFor(model => model.ChangeRequest.Change_Status_Description):
            <span class="text-success fw-bold">
                @Html.DisplayFor(model => model.ChangeRequest.Change_Status_Description)
            </span>
        </h4>
    </div>
</div>
<div>
    <nav class="my-5">
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link @Model.TabActiveDetail fw-bolder" id="nav-detail-tab" data-bs-toggle="tab" href="#nav-detail" role="tab" aria-controls="nav-home" aria-selected="true">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @Model.TabActiveGeneralMocQuestions fw-bolder" id="nav-general-moc-questions-tab" data-bs-toggle="tab" href="#nav-general-moc-questions" role="tab" aria-controls="nav-profile" aria-selected="false">General MOC Questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @Model.TabActiveImpactAssessments @Model.Tab3Disabled fw-bolder" id="nav-impact-assessment-tab" data-bs-toggle="tab" href="#nav-impact-assessment" role="tab" aria-controls="nav-contact" aria-selected="false">
                    Impact Assessments
                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-html="true" title="Disabled if General MOC Questions incomplete. All Impact Assessments must be complete to progress past this stage.">
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @Model.TabActiveFinalApprovals @Model.Tab4Disabled fw-bolder" id="nav-final-approvals-tab" data-bs-toggle="tab" href="#nav-final-approvals" role="tab" aria-controls="nav-contact" aria-selected="false">
                    Final Approvals
                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-html="true" title="Disabled if Impact Assessments incomplete. Must complete 'Review Result' field in order to progress past this stage.">
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @Model.TabActiveImplementation @Model.Tab5Disabled fw-bolder" id="nav-implementation-tab" data-bs-toggle="tab" href="#nav-implementation" role="tab" aria-controls="nav-contact" aria-selected="false">
                    Implementation
                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-html="true" title="Disabled if Final Approvals incomplete. All 'Pre Implementation' Tasks must be completed in order to progress past this stage.">
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @Model.TabActiveCloseoutComplete @Model.Tab6Disabled fw-bolder" id="nav-closeout-complete-tab" data-bs-toggle="tab" href="#nav-closeout-complete" role="tab" aria-controls="nav-contact" aria-selected="false">
                    Close Out/Complete
                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-html="true" title="Disabled if Final Approvals incomplete. All tasks, including 'Post Implementation', must be completed in order to close/complete this Change Request.">
                    </i>
                </a>
            </li>
            <li class="nav-item ms-auto">
                <a class="nav-link @Model.TabActiveAttachments fw-bolder" id="nav-attachments-tab" data-bs-toggle="tab" href="#nav-attachments" role="tab" aria-controls="nav-profile" aria-selected="false">Attachments (@Model.Attachments.Count.ToString())</a>
            </li>
            <li class="nav-item">
                <a class="nav-item me-auto nav-link @Model.TabActiveTasks fw-bolder" id="nav-tasks-tab" data-bs-toggle="tab" href="#nav-tasks" role="tab" aria-controls="nav-profile" aria-selected="false">Tasks (@Model.Tasks.Count.ToString())</a>
            </li>

        </ul>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        @******************************************************************************************************************@
        @*  DETAIL TAB ****************************************************************************************************@
        @******************************************************************************************************************@
        <div class="tab-pane fade show @Model.TabActiveDetail" id="nav-detail" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="text-nowrap">
                @*<h4 class="mt-5">Details</h4>*@
                @*                <a class="me-2" asp-action="Edit" asp-route-id="@Model?.ChangeRequest?.Id">Edit</a>
                <a class="mx-2" asp-action="Index">Back to List</a>*@
                <div class="row mt-5">
                    <div class="col-5 text-start">
                        @if ((ViewBag.IsAdmin == true || ViewBag.Username == Model.ChangeRequest.Change_Owner) && (Model.ChangeRequest.Change_Status == "Draft"))
                        {
                            @Html.ActionLink("Edit","Edit",new {id=@Model?.ChangeRequest?.Id, tab="Details"},new {@class="btn btn-primary"})
                            @Html.ActionLink("Add Impact Assessment Reviewers","Index","AdditionalImpactAssessmentReviewers", new {changeRequestId=Model.ChangeRequest.Id, tab="Details"}, new {@class="btn btn-success ms-1"})
                        }
                        @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"})
                    </div>
                    @* <div class="col-6 text-end"> *@
                    <div class="col-lg-7">
                        @if (@Model.ButtonSubmitForReview == true)
                        {
                            @if (ViewBag.IsAdmin || ViewBag.Username == Model.ChangeRequest.Change_Owner)
                            {
@*                                 <div class="row">
                                    <div class="col-12">
                                        <button type="submit"
                                                id="submitButton"
                                                class="btn btn-primary"
                                                onclick="return DisplayProgressMessage(this, 'Saving...');">
                                            Save
                                        </button>
                                    </div>
                                </div> *@
                                <div class="row">
                                    <div class="col-xl-10 text-xl-end mt-2">
                                        <span class="bg-warning fw-bold">
                                            WARNING Once Review is submitted, Details and MoC Questions cannot be Changed!!
                                        </span>
                                    </div>
                                    <div class="col-xl-2 col">
                                        @Html.ActionLink(
                                "Submit for Review",
                                "SubmitForReview",
                                new {id=@Model.ChangeRequest.Id, tab="Details"},
                                new {@class="btn btn-success text-start text-nowrap", title="Once submitted for Review, Details and MoC Questions will be Locked.", id="SubmitForReviewId1", onclick="return DisplayProgressMessage(this, 'Saving...');"})
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.MOC_Number)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.MOC_Number)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Change_Owner)
                </dt>
                <dd class="col-sm-4 my-1">
                    @* @Html.DisplayFor(model => model.ChangeRequest.Change_Owner) *@
                    @Html.DisplayFor(model => model.employee.displayname)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Change_Status_Description)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Change_Status_Description)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Request_Date)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Request_Date)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Priority)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Priority)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Estimated_Completion_Date)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Estimated_Completion_Date)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Change_Type)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Change_Type)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Expiration_Date_Temporary)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Expiration_Date_Temporary)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Area_of_Change)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Area_of_Change)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Waiver_Number)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Waiver_Number)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Location_Site)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Location_Site)
                </dd>
                @*                 <dt class="col-sm-2 my-1 text-end">
                @Html.DisplayNameFor(model => model.ChangeRequest.CMT_Number)
                </dt>
                <dd class="col-sm-4 my-1">
                @Html.DisplayFor(model => model.ChangeRequest.CMT_Number)
                </dd> *@
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.PTN_Number)
                </dt>
                <dd class="col-sm-4 my-1">
                    @if (Model.ChangeRequest.PTN_Number != null)
                    {
                        var counter = 0;
                        @foreach (var ptn in Model.ChangeRequest.PTN_Number)
                        {
                            counter = counter + 1;
                            <span>@ptn</span>
                            if (counter < Model.ChangeRequest.PTN_Number.Count)
                            {
                                <span>,&nbsp;</span>
                            }
                        }
                        @* @Html.DisplayFor(model => model.ChangeRequest.PTN_Number) *@
                    }
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Change_Level)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Change_Level)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Additional_Notification)
                </dt>
                <dd class="col-sm-4 my-1">
                    @if (ViewBag.EmployeesToNotify != null)
                    {
                        var counter = 0;
                        @foreach (var employeeToNotify in ViewBag.EmployeesToNotify)
                        {
                            counter = counter + 1;
                            <span>@employeeToNotify</span>
                            if (counter < ViewBag.EmployeesToNotify.Count)
                            {
                                <span>,&nbsp;</span>
                            }
                        }
                    }
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Proudct_Line)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Proudct_Line)
                </dd>
                <dt class="col-sm-2 my-1 text-end"></dt>
                <dd class="col-sm-4 my-1"></dd>
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Title_Change_Description)
                </dt>
                <dd class="col-sm-10 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Title_Change_Description, new {@rows = 3})
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Justification_of_the_Change)
                </dt>
                <dd class="col-sm-10 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Justification_of_the_Change, new {@rows = 2})
                </dd>
                @*<hr />*@
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Scope_of_the_Change)
                </dt>
                <dd class="col-sm-10 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Scope_of_the_Change, new {@rows = 3})
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Raw_Material_Component_Numbers_Impacted)
                </dt>
                <dd class="col-sm-10 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Raw_Material_Component_Numbers_Impacted)
                </dd>
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Implementation_Approval_Date)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Implementation_Approval_Date)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Closeout_Date)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Closeout_Date)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Implementation_Username)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ImplementationDisplayName)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Closeout_Username)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.CloseoutDisplayName)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Cancel_Username)
                </dt>
                <dd class="col-sm-10 my-1">
                    @Html.DisplayFor(model => model.CancelDisplayName)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Cancel_Date)
                </dt>
                <dd class="col-sm-10 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Cancel_Date)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.Cancel_Reason)
                </dt>
                <dd class="col-sm-10 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.Cancel_Reason)
                </dd>
                <hr />
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.CreatedUser)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.CreatUserDisplayName)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.CreatedDate)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.CreatedDate)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.ModifiedUser)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ModifiedUserDisplayName)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.ModifiedDate)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.ModifiedDate)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.DeletedUser)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.DeletedUserDisplayName)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.ChangeRequest.DeletedDate)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.ChangeRequest.DeletedDate)
                </dd>
                <hr />
            </dl>
            <div class="text-nowrap">
                <div class="row">
                    <div class="col-5 text-start">
                        @if ((ViewBag.IsAdmin == true || ViewBag.Username == Model.ChangeRequest.Change_Owner) && (Model.ChangeRequest.Change_Status == "Draft"))
                        {
                            @Html.ActionLink("Edit","Edit",new {id=@Model?.ChangeRequest?.Id, tab="Details"},new {@class="btn btn-primary"})
                            @Html.ActionLink("Add Impact Assessment Reviewers","Index","AdditionalImpactAssessmentReviewers", new {changeRequestId=Model.ChangeRequest.Id, tab="Details"}, new {@class="btn btn-success ms-1"})
                        }
                        @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"})
                    </div>
                    <div class="col-lg-7">
                        @if (@Model.ButtonSubmitForReview == true)
                        {
                            @if (ViewBag.IsAdmin || ViewBag.Username == Model.ChangeRequest.Change_Owner)
                            {
                                <div class="row">
                                    <div class="col-xl-10 text-xl-end mt-2">
                                        <span class="bg-warning fw-bold">
                                            WARNING Once Review is submitted, Details and MoC Questions cannot be Changed!!
                                        </span>
                                    </div>
                                    <div class="col-xl-2">
                                        @Html.ActionLink("Submit for Review","SubmitForReview", new {id=@Model.ChangeRequest.Id, tab="Details"}, new {@class="btn btn-success text-start text-nowrap", title="Once submitted for Review, Details and MoC Questions will be Locked.", id="SubmitForReviewId2", onclick="return DisplayProgressMessage(this, 'Saving...');"})
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        @******************************************************************************************************************@
        @*  GENERAL MOC QUESTIONS TAB  ************************************************************************************@
        @******************************************************************************************************************@
        <div class="tab-pane fade show @Model.TabActiveGeneralMocQuestions" id="nav-general-moc-questions" role="tabpanel" aria-labelledby="nav-general-moc-questions">
            @using (Html.BeginForm("EditMocQuestions", "ChangeRequests", FormMethod.Post, new { id = Model.ChangeRequest.Id }))
            {
                @if (ViewBag.QuestionsSaved != null)
                {
                    @*                     <div class="alert alert-success alert-dismissible d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
            <div class="fw-bold">
            MoC Responses have been Saved
            </div>
            </div> *@
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
                        <strong>MoC Responses have been Saved</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                @*<h4 class="mt-5">General MOC Questions</h4>*@
                <div class="text-nowrap">
                    <div class="row mt-5">
                        <div class="col-5">
                            <div class="text-nowrap">
                                @if ((ViewBag.IsAdmin == true || ViewBag.Username == Model.ChangeRequest.Change_Owner) && (Model.ChangeRequest.Change_Status == "Draft"))
                                {
                                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                                    @Html.ActionLink("Add Impact Assessment Reviewers","Index","AdditionalImpactAssessmentReviewers", new {changeRequestId=Model.ChangeRequest.Id, tab="GeneralMocQuestions"}, new {@class="btn btn-success"})
                                }
                                @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary text-start"})
                            </div>
                        </div>
                        <div class="col-lg-7">
                            @*<input type="submit" value="Submit for Review" class="btn btn-success" />*@
                            @if (@Model.ButtonSubmitForReview == true)
                            {
                                @if (ViewBag.IsAdmin || ViewBag.Username == Model.ChangeRequest.Change_Owner)
                                {
                                    <div class="row">
                                        <div class="col-xl-10 text-xl-end mt-2">
                                            <span class="bg-warning fw-bold">
                                                WARNING Once Review is submitted, Details and MoC Questions cannot be Changed!!
                                            </span>
                                        </div>
                                        <div class="col-xl-2">
                                            @Html.ActionLink("Submit for Review","SubmitForReview", new {id=@Model.ChangeRequest.Id, tab="Details"}, new {@class="btn btn-success text-start text-nowrap", title="Once submitted for Review, Details and MoC Questions will be Locked.", id="SubmitForReviewId3", onclick="return DisplayProgressMessage(this, 'Saving...');"})
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                @*@Html.HiddenFor(m => m.ChangeRequest)*@
                @Html.HiddenFor(m => m.ChangeRequest.Id)
                @*                @Html.HiddenFor(m => m.ChangeRequest.GeneralMocResponses)*@
                @Html.HiddenFor(m => m.Tab3Disabled)
                @Html.HiddenFor(m => m.Tab4Disabled)
                @Html.HiddenFor(m => m.TabActiveImpactAssessments)
                @Html.HiddenFor(m => m.TabActiveGeneralMocQuestions)
                @Html.HiddenFor(m => m.TabActiveDetail)
                <table class="table table-bordered table-striped mt-3">
                    <thead class="table-primary">
                        <tr>
                            <th>
                                Question
                            </th>
                            <th class="text-center">
                                Response
                            </th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ChangeRequest.GeneralMocResponses.Count; i++)
                        {
                            <tr>
                                @Html.HiddenFor(m => m.ChangeRequest.GeneralMocResponses[i].Id)
                                @Html.HiddenFor(m => m.ChangeRequest.GeneralMocResponses[i].ChangeRequestId)
                                @Html.HiddenFor(m => m.ChangeRequest.GeneralMocResponses[i].Question)
                                @Html.HiddenFor(m => m.ChangeRequest.GeneralMocResponses[i].Order)
                                @Html.HiddenFor(m => m.ChangeRequest.GeneralMocResponses[i].CreatedUser)
                                @Html.HiddenFor(m => m.ChangeRequest.GeneralMocResponses[i].CreatedDate)
                                @Html.HiddenFor(m => m.ChangeRequest.GeneralMocResponses[i].ModifiedUser)
                                @Html.HiddenFor(m => m.ChangeRequest.GeneralMocResponses[i].ModifiedDate)
                                @Html.HiddenFor(m => m.ChangeRequest.GeneralMocResponses[i].DeletedUser)
                                @Html.HiddenFor(m => m.ChangeRequest.GeneralMocResponses[i].DeletedDate)
                                <td>
                                    @Html.Raw(Model.ChangeRequest.GeneralMocResponses[i].Question)
                                </td>
                                <td>
                                    @if ((ViewBag.IsAdmin == true || ViewBag.Username == Model.ChangeRequest.Change_Owner) && (Model.ChangeRequest.Change_Status == "Draft"))
                                    {
                                        @Html.DropDownListFor(m => m.ChangeRequest.GeneralMocResponses[i].Response,
                            new SelectList(ViewBag.Responses), "--Select--",
                            new { @class="form-control form-select"})
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(m => m.ChangeRequest.GeneralMocResponses[i].Response)
                                    }
                                </td>
                            </tr>
                            @*<td class="text-nowrap">*@
                            @*@Html.ActionLink("Edit","Edit","GeneralMocResponses",new {id=@item.Id, tab="Details"},new {@class="btn btn-primary"})*@
                            @*<a asp-controller="GeneralMocResponses" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>*@
                        }
                    </tbody>
                </table>
                <div class="text-nowrap">
                    <div class="row">
                        <div class="col-5">

                            @if ((ViewBag.IsAdmin == true || ViewBag.Username == Model.ChangeRequest.Change_Owner) && (Model.ChangeRequest.Change_Status == "Draft"))
                            {
                                <input type="submit" value="Save Changes" class="btn btn-primary" />
                                @Html.ActionLink("Add Impact Assessment Reviewers","Index","AdditionalImpactAssessmentReviewers", new {changeRequestId=Model.ChangeRequest.Id, tab="GeneralMocQuestions"}, new {@class="btn btn-success"})
                            }
                            @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"})
                        </div>
                        <div class="col-lg-7">
                            @if (@Model.ButtonSubmitForReview == true)
                            {
                                @if (ViewBag.IsAdmin || ViewBag.Username == Model.ChangeRequest.Change_Owner)
                                {
                                    <div class="row">
                                        <div class="col-xl-10 text-xl-end mt-2">
                                            <span class="bg-warning fw-bold">
                                                WARNING Once Review is submitted, Details and MoC Questions cannot be Changed!!
                                            </span>
                                        </div>
                                        <div class="col-xl-2">
                                            @Html.ActionLink("Submit for Review","SubmitForReview", new {id=@Model.ChangeRequest.Id, tab="Details"}, new {@class="btn btn-success text-start text-nowrap", title="Once submitted for Review, Details and MoC Questions will be Locked.", id="SubmitForReviewId4", onclick="return DisplayProgressMessage(this, 'Saving...');"})
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        @******************************************************************************************************************@
        @*  IMPACT ASSESSMENT REVIEWS TAB  ********************************************************************************@
        @******************************************************************************************************************@
        <div class="tab-pane fade show @Model.TabActiveImpactAssessments" id="nav-impact-assessment" role="tabpanel" aria-labelledby="nav-impact-assessment-tab">
            <div class="text-nowrap mt-5">
                @*<h4 class="mt-5">Change Evaluations - Impact Assessments</h4>*@
                @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
                @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"})
            </div>
            <table class="table table-bordered table-striped mt-3">
                <thead class="table-primary">
                    <tr>
                        <th>
                            Review Type
                        </th>
                        <th>
                            Area of Change
                        </th>
                        <th>
                            Reviewer
                        </th>
                        <th class="text-center" style="width: 5%;">
                            Review Completed
                        </th>
                        <th class="text-center" style="width: 5%;">
                            Date Completed
                        </th>
                        <th>
                            Comment
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ChangeRequest.ImpactAssessmentResponses != null)
                    {
                        int i = 0;
                        @foreach (var item in Model.ChangeRequest.ImpactAssessmentResponses)
                        {
                            i = i + 1;
                            string recId = "record" + i.ToString();
                            <tr id="@recId">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReviewType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChangeArea)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reviewer)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.ReviewCompleted)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.DateCompleted)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comments)
                                </td>
                                <td class="text-nowrap">
                                    @*@if ((ViewBag.IsAdmin || ViewBag.Username == item.Username) && (Model.ChangeRequest.Change_Status == "ImpactAssessmentReview") && (item.ReviewCompleted == false))
                            {
                            @Html.ActionLink("Edit","Edit","ImpactAssessmentResponses",new {id=@item.Id, tab="ImpactAssessments"},new {@class="btn btn-primary"})
                            }*@
                                    @Html.ActionLink("Review","Details","ImpactAssessmentResponses",new {id=@item.Id, tab="ImpactAssessments"},new {@class="btn btn-secondary"})
                                    @if ((ViewBag.IsAdmin) && (Model.ChangeRequest.Change_Status == "ImpactAssessmentReview") && (item.ReviewCompleted != true))
                                    {
                                        <span>
                                            @Html.ActionLink("Send Reminder","AssessmentReminder","ChangeRequests", new {id = @item.Id, tab="ImpactAssessments"}, new {@class="btn btn-info"})
                                        </span>
                                    }
                                    @if ((ViewBag.IsAdmin || ViewBag.Username == item.Username) && (Model.ChangeRequest.Change_Status == "ImpactAssessmentReview") && (item.QuestionsAnswered == true) && (item.ReviewCompleted == false))
                                    {
                                        @Html.ActionLink("Mark as Complete","MarkImpactAssessmentComplete","ChangeRequests",new {id=@item.Id, tab="ImpactAssessments", recId=recId},new {@class="btn btn-success", title="Once Marked as Complete, You CANNOT Edit Again"})
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"})
        </div>

        @******************************************************************************************************************@
        @*  FINAL APPROVALS TAB  ******************************************************************************************@
        @******************************************************************************************************************@
        <div class="tab-pane fade show @Model.TabActiveFinalApprovals" id="nav-final-approvals" role="tabpanel" aria-labelledby="nav-final-approvals-tab">
            <div class="text-nowrap mt-5">
                @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"})
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped mt-3 ">
                    <thead class="table-primary">
                        <tr>
                            <th>
                                Change Type
                            </th>
                            <th>
                                Final Review Type
                            </th>
                            <th>
                                Reviewer
                            </th>
                            <th class="text-center" style="width: 5%;">
                                Review Completed
                            </th>
                            <th class="text-center" style="width: 5%;">
                                Date Completed
                            </th>
                            <th>
                                Review Result
                            </th>
                            <th>
                                Comment
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ChangeRequest.ImplementationFinalApprovalResponses)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChangeType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FinalReviewType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reviewer)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.ReviewCompleted)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.DateCompleted,"yyyy/MM/dd")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReviewResult)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comments)
                                </td>
                                <td class="text-nowrap">
                                    @if ((ViewBag.IsAdmin || ViewBag.Username == item.Username) && (Model.ChangeRequest.Change_Status == "FinalApprovals"))
                                    {
                                        if (item.ReviewCompleted != true)
                                        {
                                            @Html.ActionLink("Review","Edit","ImplementationFinalApprovalResponses",new {id=@item.Id, tab="FinalApprovals"},new {@class="btn btn-primary", title="Must Fill Out 'Review Result' to be able to Complete Review"})
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Details","Details","ImplementationFinalApprovalResponses",new {id=@item.Id, tab="FinalApprovals"},new {@class="btn btn-secondary"})
                                        }
                                        if (item.ReviewResult != null && item.ReviewResult != "" && item.ReviewCompleted != true)
                                        {
                                            @Html.ActionLink("Mark Complete","CompleteFinalReview","ChangeRequests",new {id=@item.Id, tab="FinalApprovals"},new {@class="btn btn-success ms-2", title="Must Fill Out 'Review Result' to be able to Complete Review"})
                                        }
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Details","Details","ImplementationFinalApprovalResponses",new {id=@item.Id, tab="FinalApprovals"},new {@class="btn btn-secondary"})
                                    }
                                    @if ((ViewBag.IsAdmin) && (Model.ChangeRequest.Change_Status == "FinalApprovals") && (item.ReviewCompleted != true))
                                    {
                                        <span>
                                            @Html.ActionLink("Send Reminder","FinalApprovalReminder","ChangeRequests", new {id = @item.Id, tab="FinalApprovals"}, new {@class="btn btn-info"})
                                        </span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"})
        </div>
        @******************************************************************************************************************@
        @*  IMPLEMENTATION TAB  *******************************************************************************************@
        @******************************************************************************************************************@
        <div class="tab-pane fade show @Model.TabActiveImplementation" id="nav-implementation" role="tabpanel" aria-labelledby="nav-implementation-tab">
            <div class="text-nowrap text-center">
                @*<h4 class="mt-5">Implementation</h4>*@
                @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
                @if (ViewBag.OpenPreImplementationTasks > 0)
                {
                    <div class="fw-bold text-danger my-5">
                        Cannot close Implementation.  There are 'Open/In-Progress/On Hold' Pre-Implementation Tasks for this Change Request.
                    </div>
                }
                else
                {
                    @if ((ViewBag.IsAdmin) && (Model.ChangeRequest.Change_Status == "Implementation"))
                    {
                        @Html.ActionLink("Close Implementation","CloseoutImplementation", new {id=Model.ChangeRequest.Id}, new {@class="btn btn-success mt-3"})
                    }
                    @if (Model.ChangeRequest.Change_Status == "Closeout" || Model.ChangeRequest.Change_Status == "Closed")
                    {
                        <div class="fw-bold text-success my-5">
                            Implementation has been Approved by @Html.DisplayFor(Model => Model.ChangeRequest.Implementation_Username) on @Html.DisplayFor(Model => Model.ChangeRequest.Implementation_Approval_Date)
                        </div>
                    }
                }
                @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary mt-3"})
            </div>
        </div>
        @******************************************************************************************************************@
        @*  CLOSE OUT/COMPLETE TAB  ***************************************************************************************@
        @******************************************************************************************************************@
        <div class="tab-pane fade show @Model.TabActiveCloseoutComplete" id="nav-closeout-complete" role="tabpanel" aria-labelledby="nav-final-approvals-tab">
            <div class="text-nowrap text-center">
                @*<h4 class="mt-5">Close-Out/Complete Change Request </h4>*@
                @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
                @if (ViewBag.OpenTasks > 0)
                {
                    <div class="fw-bold text-danger my-5">
                        Cannot Close-out/Complete Change Request.  There are 'Open/In-Progress/On Hold' Tasks for this Change Request.
                    </div>
                }
                else
                {
                    @if ((ViewBag.IsAdmin) && (Model.ChangeRequest.Change_Status == "Closeout"))
                    {
                        @Html.ActionLink("Close-Out/Complete","CloseoutComplete", new {id=Model.ChangeRequest.Id}, new {@class="btn btn-success mt-3"})
                    }
                    @if (Model.ChangeRequest.Change_Status == "Closed")
                    {
                        <div class="fw-bold text-success my-5">
                            Change Request has been Closed/Completed by @Html.DisplayFor(Model => Model.ChangeRequest.Closeout_Username) on @Html.DisplayFor(Model =>  Model.ChangeRequest.Closeout_Date)
                        </div>
                    }
                }
                @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary mt-3"})
            </div>
        </div>
        @******************************************************************************************************************@
        @*  ATTACHMENTS TAB  **********************************************************************************************@
        @******************************************************************************************************************@
        <div class="tab-pane fade show @Model.TabActiveAttachments" id="nav-attachments" role="tabpanel" aria-labelledby="nav-attachments-tab">
            <div class="text-nowrap mt-5">
                @*<h4 class="mt-5">Attachments</h4>*@
                @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
                @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"})

                @using (Html.BeginForm("SaveFile", "ChangeRequests", new { id = Model.ChangeRequest.Id }, FormMethod.Post, false, new { enctype = "multipart/form-data" }))
                {
                    <div class="control-label fw-bold mt-5 mb-2">
                        <strong>Upload File to ChangeRequest:</strong>
                    </div>
                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-10">
                                <input type="file" name="fileAttachment" class="form-control" />
                                <div class="form-group text-danger fw-bold">
                                    @*<input asp-for="FileAttachmentError" class="form-control" />*@
                                    @Html.DisplayFor(m => m.FileAttachmentError)
                                </div>
                            </div>
                            <div class="col-2">
                                <input type="submit" value="Upload" class="form-control btn btn-success">
                            </div>
                        </div>
                    </div>
                }
            </div>
            <table class="table table-bordered table-striped mt-5">
                <thead class="table-primary">
                    <tr>
                        <th>
                            File Name
                        </th>
                        <th>
                            Date Added
                        </th>
                        <th>
                            Size
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Attachments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Size)
                            </td>
                            <td>
                                @*<a href="@item.FullPath" data-type="URL" target="_blank">View File</a>*@
                                @*<a asp-controller="ChangeRequests" asp-action="DisplayAttachment" asp-route-id="@item.Id">Edit</a>*@
                                @Html.ActionLink("Download File","DownloadFile","ChangeRequests",new {id=@Model.ChangeRequest.Id, fileName=item.Name, sourcePath=item.FullPath},new {@class="btn btn-secondary", title="Download to Download Folder"})
                                @if (ViewBag.IsAdmin || ViewBag.Username == Model.ChangeRequest.Change_Owner)
                                {
                                    @Html.ActionLink("Delete","DeleteFile","ChangeRequests",new {id=@Model.ChangeRequest.Id, fileName=item.Name, sourcePath=item.FullPath},new {@class="btn btn-danger", title="Delete Attachment"})
                                }
                                @*<a asp-controller="ImplementationFinalApprovalResponses" asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary mt-3"})
        </div>
        @******************************************************************************************************************@
        @*  TASKS TAB  ****************************************************************************************************@
        @******************************************************************************************************************@
        <div class="tab-pane fade show @Model.TabActiveTasks" id="nav-tasks" role="tabpanel" aria-labelledby="nav-tasks-tab">
            <div class="text-nowrap mt-5">
                @*<h4 class="mt-5">Tasks</h4>*@
                @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
                @Html.ActionLink("Create New","CreateTask", new {changeRequestId = Model.ChangeRequest.Id, Tab = "Tasks"},new {@class="btn btn-success"})
                @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"})
            </div>
            <table class="table table-bordered table-striped mt-5">
                <thead class="align-top table-primary">
                    <tr>
                        <th>
                            Task#
                        </th>
                        <th>
                            Implementation Type
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Assigned To
                        </th>
                        <th>
                            Assigned By
                        </th>
                        <th>
                            Due Date
                        </th>
                        <th>
                            Completion Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tasks)
                    {
                        <tr>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.Id)*@
                                @Html.ActionLink("Task#" + item.Id.ToString(),"Details","Tasks",new {id=@item.Id, tab="Tasks"},new {@class=""})
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImplementationType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssignedToUserFullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssignedByUserFullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DueDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompletionDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.ActionLink("Create New","CreateTask", new {changeRequestId = Model.ChangeRequest.Id, Tab = "Tasks"},new {@class="btn btn-success mt-3"})
            @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary mt-3"})
        </div>

    </div>
</div>
<div class="text-nowrap my-5">
    @*@Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"})*@
</div>
<script>
    function DisplayProgressMessage(ctl, msg) {
        // document.getElementById("SubmitForReviewId").href = "javascript:void(0)";
        //document.getElementById("SubmitForReviewId").disabled = true;
        // $(ctl).prop("disabled", true);
        //$(ctl).text(msg);
        $("body").addClass("submit-progress-bg");
        $("#SubmitForReviewId1").addClass("disableClick");
        $("#SubmitForReviewId1").text(msg);
        $("#SubmitForReviewId2").addClass("disableClick");
        $("#SubmitForReviewId2").text(msg);
        $("#SubmitForReviewId3").addClass("disableClick");
        $("#SubmitForReviewId3").text(msg);
        $("#SubmitForReviewId4").addClass("disableClick");
        $("#SubmitForReviewId4").text(msg);
        //$("SubmitForReviewId").prop('disabled', false);
        //$("#SubmitForReviewId").addClass("disableClick");
        // $("SubmitForReviewId").addClass("disabled");
        // $("SubmitForReviewId").addClass("btnDisable");
        // //document.getElementById("SubmitForReviewId").disabled = true;        
        return true;
    }

    $(document).ready(function () {
        var anchor = document.getElementById('@Model.IArecord');
        if (anchor != null) { anchor.scrollIntoView(true); }
    });
</script>

