@model IEnumerable<Management_of_Change.Models.ChangeRequest>
@*@model Management_of_Change.Models.ChangeRequestViewModel*@

@{
    ViewData["Title"] = "Index";
}

<h1>Change Requests</h1>

<form asp-controller="ChangeRequests" asp-action="Index">
    <div class="row mt-3">
        <div class="col-7 text-start">
            @*<a asp-action="Create">Create New</a>*@
            @*            @Html.ActionLink("Create New","Create")*@
            @Html.ActionLink("Create New","Create",new {},new {@class="btn btn-primary"})
        </div>
        <div class="col-2 fw-bold text-end">
            Active/Non-Active Records:
        </div>
        <div class="col-2 text-start">
            @Html.DropDownList("timestampFilter", new SelectList(ViewBag.ActiveRecordList), new {@class = "form-control form-select" })
        </div>
        @*        <div class="col-2 fw-bold text-end">
        Another Filter:
        </div>
        <div class="col-1 text-start">
        @Html.DropDownList("timestampFilter2", new SelectList(ViewBag.ActiveRecordList2), new {@class = "form-control" })
        </div>*@
        <div class="col-1 text-end text-">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table table-bordered table-striped mt-5">
    <thead>
        <tr>
            <th class="text-nowrap">
                MOC Number
                @*@Html.DisplayNameFor(model => model.MOC_Number)*@
            </th>
            <th>
                Title/Change Description
                @*@Html.DisplayNameFor(model => model.Title_Change_Description)*@
            </th>
            <th>
                Change Owner
                @*@Html.DisplayNameFor(model => model.Change_Owner)*@
            </th>
            <th>
                Change Status
                @*@Html.DisplayNameFor(model => model.Change_Status)*@
            </th>
            <th>
                Change Level
                @*@Html.DisplayNameFor(model => model.Change_Level)*@
            </th>
            <th>
                Change Type
                @*@Html.DisplayNameFor(model => model.Change_Type)*@
            </th>
            <th>
                Location/Site
                @*@Html.DisplayNameFor(model => model.Location_Site)*@
            </th>
            <th>
                Area of Change
                @*@Html.DisplayNameFor(model => model.Area_of_Change)*@
            </th>
            @*            <th>
            @Html.DisplayNameFor(model => model.Scope_of_the_Change)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Justification_of_the_Change)
            </th>*@
            <th>
                Product Line
                @*@Html.DisplayNameFor(model => model.Proudct_Line)*@
            </th>
            @*            <th>
            @Html.DisplayNameFor(model => model.Estimated_Completion_Date)
            </th>*@
            @*            <th>
            @Html.DisplayNameFor(model => model.Raw_Material_Component_Numbers_Impacted)
            </th>*@
            @*            <th>
            @Html.DisplayNameFor(model => model.Expiration_Date_Temporary)
            </th>*@
            <th>
                Request Date
                @*@Html.DisplayNameFor(model => model.Request_Date)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.MOC_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title_Change_Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Change_Owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Change_Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Change_Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Change_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location_Site)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area_of_Change)
                </td>
                @*                <td>
            @Html.DisplayFor(modelItem => item.Scope_of_the_Change)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Justification_of_the_Change)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Proudct_Line)
                </td>
                @*                <td>
            @Html.DisplayFor(modelItem => item.Estimated_Completion_Date)
            </td>*@
                @*                <td>
            @Html.DisplayFor(modelItem => item.Raw_Material_Component_Numbers_Impacted)
            </td>*@
                @*                <td>
            @Html.DisplayFor(modelItem => item.Expiration_Date_Temporary)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Request_Date)
                </td>
                <td class="text-nowrap">
@*                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-tab="Details" class="btn btn-secondary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>*@
                    @Html.ActionLink("Edit","Edit",new {id=@item.Id, tab="Index"},new {@class="btn btn-primary"})
                    @Html.ActionLink("Details","Details",new {id=@item.Id, tab="Details"},new {@class="btn btn-secondary"})
                    @if (item.DeletedDate == null)
                    {
                        @Html.ActionLink("Delete","Delete",new {id=@item.Id},new {@class="btn btn-danger"})
                    }                    
                </td>
            </tr>
        }
    </tbody>
</table>
