@model EHS.ViewModels.SegViewModel

@* @{
    var attachments = ViewBag.Attachments as List<EHS.ViewModels.Attachment>; // or whatever your model is
} *@

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<h4>seg_risk_assessments</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.location)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.location)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.exposure_type)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.exposure_type)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.agent)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.agent)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.role)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.role)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.task)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.task)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.oel)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.oel)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.acute_chronic)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.acute_chronic)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.route_of_entry)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.route_of_entry)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.frequency_of_task)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.frequency_of_task)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.duration_of_task)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.duration_of_task)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.monitoring_data_required)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.monitoring_data_required)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.controls_recommended)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.controls_recommended)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.exposure_levels_acceptable)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.exposure_levels_acceptable)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.date_conducted)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.date_conducted)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.assessment_methods_used)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.assessment_methods_used)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.seg_number_of_workers)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.seg_number_of_workers)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.has_agent_been_changed)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.has_agent_been_changed)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.person_performing_assessment_displayname)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.person_performing_assessment_displayname)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.created_user)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.created_user)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.created_user_fullname)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.created_user_fullname)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.created_user_email)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.created_user_email)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.created_date)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.created_date)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.modified_user)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.modified_user)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.modified_user_fullname)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.modified_user_fullname)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.modified_user_email)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.modified_user_email)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.modified_date)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.modified_date)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.deleted_user)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.deleted_user)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.deleted_user_fullname)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.deleted_user_fullname)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.deleted_user_email)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.deleted_user_email)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.seg_risk_assessment.deleted_date)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.seg_risk_assessment.deleted_date)
    </dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model?.seg_risk_assessment?.id">Edit</a> |
<a asp-action="Index">Back to List</a>


@******************************************************************************************************************@
@*  ATTACHMENTS TAB  **********************************************************************************************@
@******************************************************************************************************************@
@* <div class="tab-pane fade show @Model.TabActiveAttachmentsPtn" id="nav-attachmentsPtn" role="tabpanel" aria-labelledby="nav-attachmentsPtn-tab"> *@
<div class="mt-5">
    <h4 class="mt-5">Attachments</h4>
    @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
    @* @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"}) *@

    <div class="mx-5">
        @using (Html.BeginForm("SaveFile", "seg_risk_assessmentsController", new { id = Model.seg_risk_assessment.id }, FormMethod.Post, false, new { enctype = "multipart/form-data" }))
        {
            <div class="control-label fw-bold mt-5 mb-2">
                <strong>Upload Attachment(s):</strong>
            </div>
            <div class="form-group mb-3">
                <div class="row">
                    <div class="col-9">
                        <input type="file" name="fileAttachment" class="form-control" @ViewBag.DisableAttachmentUpload />
                        <div class="form-group text-danger fw-bold">
                            @Html.DisplayFor(m => m.FileAttachmentError)
                        </div>
                    </div>
                    <div class="col-xl-3 block">
                        <input type="submit" value="Upload Attachment" class="form-control btn btn-success" @ViewBag.DisableAttachmentUpload>
                    </div>
                </div>
            </div>
        }
        <div class="table-wrapper">
            <div class="table-container">
                <table class="table table-bordered table-striped mt-5">
                    <thead @* class="table-primary" *@>
                        <tr>
                            <th>
                                File Name
                            </th>
                            <th>
                                Date Added
                            </th>
                            <th>
                                Size
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.attachments)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @{
                                        var size = item.Size / 1000 < 1 ? item.Size.ToString() + " bytes" : (item.Size / 1000).ToString("N0") + " KB";
                                    }
                                    @* @Html.DisplayFor(modelItem => item.Size.ToString("#,##0")) KB *@
                                    @size
                                </td>
                                <td>
                                    @*<a href="@item.FullPath" data-type="URL" target="_blank">View File</a>*@
                                    @*<a asp-controller="ChangeRequests" asp-action="DisplayAttachment" asp-route-id="@item.Id">Edit</a>*@
                                    @Html.ActionLink("Download File", "DownloadFile", "PTNs", new { id = @Model.seg_risk_assessment.id, fileName = item.Name, sourcePath = item.FullPath }, new { @class = "btn btn-secondary", title = "Download to Download Folder" })
                                    @if (@* Model.PTN.Status == "Draft" && *@ (Model.IsAdmin || Model.Username == Model.seg_risk_assessment.created_user))
                                    {
                                        @Html.ActionLink("Delete", "DeleteFile", "PTNs", new { id = @Model.seg_risk_assessment.id, fileName = item.Name, sourcePath = item.FullPath }, new { @class = "btn btn-danger", title = "Delete Attachment" })
                                    }
                                    @*<a asp-controller="ImplementationFinalApprovalResponses" asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                    @if (Model.attachments.Count() == 0)
                    {
                        <tr>
                            <td>No data found</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        @*             @if (ViewBag.SourceString != null && ViewBag.SourceString == "Index")
            {
                @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary mt-3" })
            }
            else
            {
                @Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-secondary mt-3" })
            } *@
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary mt-3" })
    </div>
</div>
@* </div> *@
