@model PtnWaiver.Models.Waiver

@{
    ViewData["Title"] = "Create";
}

<h1>Waiver</h1>
<h4>Create</h4>
<hr />
<form asp-action="Create" asp-route-source="@ViewBag.Source">
    <div class="row my-4">
        <div class="col-md-12">
            <div class="text-nowrap">
                <span class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </span>
                <span class="mx-2">
                    @if (ViewBag.Source == "Home")
                    {
                        @Html.ActionLink("Cancel","Index","Home",new {},new {@class="btn btn-secondary"})
                    }
                    else
                    {
                        @Html.ActionLink("Cancel","Index",new {},new {@class="btn btn-secondary"})
                    }
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="CreatedUser" />
            <input type="hidden" asp-for="CreatedUserFullName" />
            <input type="hidden" asp-for="CreatedUserEmail" />
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger fw-bold" })
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="WaiverNumber" class="control-label"></label>
                <input asp-for="WaiverNumber" class="form-control" />
                <span asp-validation-for="WaiverNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorProject" class="control-label"></label>
                <input asp-for="PorProject" class="form-control" />
                <span asp-validation-for="PorProject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductProcess" class="control-label"></label>
                <input asp-for="ProductProcess" class="form-control" />
                <span asp-validation-for="ProductProcess" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="PTNId" class="control-label"></label>
                <select asp-for="PTNId" class="form-control" asp-items="ViewBag.PTNId"></select>
            </div> *@
            <div class="form-group my-3">
                <label asp-for="Status" class="control-label fw-bold mb-1"></label><span class="text-danger mx-2 fst-italic">(required)</span>
                @Html.DropDownListFor(model => model.Status, new SelectList(ViewBag.Status,"Value","Text"), "-- select --", new { @class="form-control form-select", @style="max-width:25%;"})
                <span asp-validation-for="Status" class="text-danger fw-bold"></span>
            </div>
            <div class="form-group my-3">
                <div class="control-label fw-bold mb-1">PTN/PIN</div>
                @*                <label  "Change Request" class="control-label fw-bold"></label>*@
                @*<input asp-for="ChangeRequestId" class="form-control" />*@
                @*@Html.DropDownListFor(model => model.ChangeRequestId, new SelectList(ViewBag.ChangeRequests), new { @class="form-control form-select"})*@
                @Html.DropDownListFor(model => model.PTNId, new SelectList(ViewBag.Ptns,"Value","Text"), "-- select --", new { @class="form-control form-select"})
                <span asp-validation-for="PTNId" class="text-danger fw-bold"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectiveActionDueDate" class="control-label"></label>
                <input asp-for="CorrectiveActionDueDate" class="form-control" />
                <span asp-validation-for="CorrectiveActionDueDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="text-nowrap">
                <span class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </span>
                <span class="mx-2">
                    @if (ViewBag.Source == "Home")
                    {
                        @Html.ActionLink("Cancel","Index","Home",new {},new {@class="btn btn-secondary"})
                    }
                    else
                    {
                        @Html.ActionLink("Cancel","Index",new {},new {@class="btn btn-secondary"})
                    }
                </span>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
