@model PtnWaiver.Models.Waiver

@{
    ViewData["Title"] = "Create";
}

<h1>Waiver</h1>
<h4>Create</h4>
<hr />
<form asp-action="Create" asp-route-source="@ViewBag.Source">
    <div class="row my-4">
        <div class="col-md-12">
            <div class="text-nowrap">
                <span class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </span>
                <span class="mx-2">
                    @Html.ActionLink("Cancel", "Details", "PTNs", new { id = Model.PTNId, tab = "Waivers" }, new { @class = "btn btn-secondary" })
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="hidden" asp-for="PTNId" />
            <input type="hidden" asp-for="PtnDocId" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="CreatedUser" />
            <input type="hidden" asp-for="CreatedUserFullName" />
            <input type="hidden" asp-for="CreatedUserEmail" />
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger fw-bold" })
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            @*             <div class="form-group my-3">
            <div class="control-label fw-bold mb-1">PTN/PIN</div>
            @Html.DropDownListFor(model => model.PTNId, new SelectList(ViewBag.Ptns,"Value","Text"), "-- select --", new { @class="form-control form-select"})
            <span asp-validation-for="PTNId" class="text-danger fw-bold"></span>
            </div> *@
            @*             <div class="form-group my-3">
            <label asp-for="WaiverNumber" class="control-label fw-bold mb-1"></label>
            <input asp-for="WaiverNumber" class="form-control" />
            <span asp-validation-for="WaiverNumber" class="text-danger fw-bold"></span>
            </div> *@
            @*             <div class="form-group my-3">
            <label asp-for="PorProject" class="control-label fw-bold mb-1"></label>
            <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
            @Html.DropDownListFor(model => model.PorProject, new SelectList(ViewBag.PorProjects,"Value","Text"), "-- select --", new { @class="form-control form-select", @style="max-width:20%;"})
            <span asp-validation-for="PorProject" class="text-danger fw-bold"></span>
            </div> *@
            <div class="form-group my-3">
                <label asp-for="Description" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 3 })
                <span asp-validation-for="Description" class="text-danger fw-bold"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="ProductProcess" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @Html.DropDownListFor(model => model.ProductProcess, new SelectList(ViewBag.ProductProcess, "Value", "Text"), "-- select --", new { @class = "form-control form-select", @style = "max-width:20%;" })
                <span asp-validation-for="ProductProcess" class="text-danger fw-bold"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="CorrectiveActionDueDate" class="control-label fw-bold mb-1"></label>
                <input asp-for="CorrectiveActionDueDate" class="form-control" style="max-width:50%" onclick="this.showPicker()" />
                <span asp-validation-for="CorrectiveActionDueDate" class="text-danger fw-bold"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group my-3">
                <label asp-for="GroupApprover" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                <i class="bi bi-info-circle-fill" style="color:blue;" data-bs-toggle="tooltip" data-bs-html="true" title="If multiple select, hold down 'Ctrl' key and select/click one or more. To de-select, hold down 'Ctrl' and select the one to remove from selection">
                </i>
                @* <input asp-for="Group" class="form-control" style="max-width:25%;" /> *@
                @*                 @Html.DropDownListFor(model => model.GroupApprover, new SelectList(ViewBag.Groups, "Value", "Text"), "-- select --", new { @class="form-control form-select"}) *@
                @Html.ListBoxFor(model => model.GroupApprover, new MultiSelectList(ViewBag.Groups, "Value", "Text", Model.GroupApprover), new { @class = "form-control chosen-select", multiple = true, data_placeholder = "Select Approver(s)", size = 10 })
                <span asp-validation-for="GroupApprover" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="text-nowrap">
                <span class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </span>
                <span class="mx-2">
                    @Html.ActionLink("Cancel", "Details", "PTNs", new { id = Model.PTNId, tab = "Waivers" }, new { @class = "btn btn-secondary" })
                </span>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
