@model PtnWaiver.ViewModels.WaiverViewModel

@{
    ViewData["Title"] = "Details";
}

@* <h1>Waiver</h1>
<h4>Details</h4>
<hr />
<div class="row my-4">
    <div class="col-12">
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
            @Html.ActionLink("Cancel","Details","PTNs",new {id=Model.PTNId, tab="Waivers"},new {@class="btn btn-secondary mx-2"})
        </div>
    </div>
</div> *@


<div class="row">
    <div class="col-4">
        <div class="text-nowrap">
            <h1 style="display:inline">
                <span class="me-2">
                    Waiver
                </span>
                @*                 <span class="" title="Create New PTN based on this MoC.  Include all Details and General MoC Questions only. Status will be set to 'Draft' and ChangeOwner will be you.">
                @Html.ActionLink("Clone","Clone", new {id=@Model?.PTN?.Id, tab="Details"},new {@class="btn btn-success align-middle"})
                @Html.ActionLink("Download New Equipment Checklist","DownloadNewEquipmentChecklist","ChangeRequests", new {id=@Model.ChangeRequest.Id}, new {@class="btn btn-secondary", title="Download 'New Equipment Checklist' Spreadsheet to Download Folder"})
                </span> *@
            </h1>
        </div>
    </div>
    <div class="col-8 text-end">
        <h4>
            <span class="fw-bold">
                @Html.DisplayFor(model => model.Waiver.WaiverNumber)
            </span>
            revision: 
            <span class="fw-bold">
                @Html.DisplayFor(model => model.Waiver.RevisionNumber) 
            </span>
        </h4>
        <h4>
            @Html.DisplayNameFor(model => model.Waiver.Status):
            @if (Model.Waiver.Status == "Rejected")
            {
                <span class="text-danger fw-bold">Rejected</span>
            }
            else
            {
                <span class="text-success fw-bold">
                    @Html.DisplayFor(model => model.Waiver.Status)
                </span>
            }
        </h4>
    </div>
</div>
<nav class="my-5">
    <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link @Model.TabActiveDetail fw-bolder" id="nav-detail-tab" data-bs-toggle="tab" href="#nav-detail" role="tab" aria-controls="nav-home" aria-selected="true">Details</a>
        </li>
        @* <li class="nav-item ms-auto"> *@
        <li class="nav-item">
            <a class="nav-link @Model.TabActiveAttachmentsWaiver fw-bolder" id="nav-attachmentsWaiver-tab" data-bs-toggle="tab" href="#nav-attachmentsWaiver" role="tab" aria-controls="nav-profile" aria-selected="false">Upload Waiver Template (@Model.AttachmentsWaiver.Count.ToString())</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @Model.TabActiveWaiverApproval @Model.Tab3Disabled fw-bolder" id="nav-waiverApproval-tab" data-bs-toggle="tab" href="#nav-waiverApproval" role="tab" aria-controls="nav-profile" aria-selected="false">Submit Waiver for Approval</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @Model.TabActiveWaiverAdminApproval @Model.Tab4Disabled fw-bolder" id="nav-waiverAdminApproval-tab" data-bs-toggle="tab" href="#nav-waiverAdminApproval" role="tab" aria-controls="nav-profile" aria-selected="false">Approve Waiver</a>
        </li>
    </ul>
</nav>

<div class="tab-content" id="nav-tabContent">
    @******************************************************************************************************************@
    @*  DETAIL TAB ****************************************************************************************************@
    @******************************************************************************************************************@
    <div class="tab-pane fade show @Model.TabActiveDetail" id="nav-detail" role="tabpanel" aria-labelledby="nav-home-tab">
        <div>
            @*<h4 class="mt-5">Details</h4>*@
            @*                <a class="me-2" asp-action="Edit" asp-route-id="@Model?.ChangeRequest?.Id">Edit</a>
            <a class="mx-2" asp-action="Index">Back to List</a>*@
            <div class="row mt-5">
                <div class="col-12 text-start">
                    @if ((ViewBag.IsAdmin == true || ViewBag.Username == Model.Waiver.CreatedUser) && (Model.Waiver.Status == "Draft") @* && (Model.Ptn.Status == "Approved") *@)
                    {
                        @Html.ActionLink("Edit","Edit",new {id=@Model?.Waiver?.Id, tab="Details"},new {@class="btn btn-primary me-1"})
                        @*                     @Html.ActionLink("Add Impact Assessment Reviewers","Index","AdditionalImpactAssessmentReviewers", new {ptnId=Model.PTN.Id, tab="Details"}, new {@class="btn btn-success ms-1"}) *@
                    }
                    @Html.ActionLink("Back to PTN","Details","PTNs", new {id=Model.Waiver.PTNId,tab="Waivers"}, new {@class="btn btn-secondary"})
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <dt class="col-3 my-1 text-end">
                            @Html.DisplayNameFor(model => model.Waiver.Description)
                        </dt>
                        <dd class="col-9 my-1">
                            @Html.DisplayFor(model => model.Waiver.Description)
                        </dd>
                    </div>
                    <div class="row">
                        <dt class="col-3 my-1 text-end">
                            @Html.DisplayNameFor(model => model.Waiver.RevisionNumber)
                        </dt>
                        <dd class="col-9 my-1">
                            @Html.DisplayFor(model => model.Waiver.RevisionNumber)
                        </dd>
                    </div>
                    <div class="row">
                        <dt class="col-3 my-1 text-end">
                            @Html.DisplayNameFor(model => model.Waiver.ProductProcess)
                        </dt>
                        <dd class="col-9 my-1">
                            @Html.DisplayFor(model => model.Waiver.ProductProcess)
                        </dd>
                    </div>
@*                     <div class="row">
                        <dt class="col-3 my-1 text-end">
                            @Html.DisplayNameFor(model => model.Waiver.CorrectiveActionDueDate)
                        </dt>
                        <dd class="col-9 my-1">
                            @Html.DisplayFor(model => model.Waiver.CorrectiveActionDueDate)
                        </dd>
                    </div> *@
                    <div class="row">
                        <dt class="col-3 my-1 text-end">
                            @Html.DisplayNameFor(model => model.Waiver.RejectedReason)
                        </dt>
                        <dd class="col-9 my-1">
                            @Html.DisplayFor(model => model.Waiver.RejectedReason)
                        </dd>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <dt class="col-sm-2 my-1 text-end">
                            @Html.DisplayNameFor(model => model.Waiver.GroupApprover)
                        </dt>
                        <dd class="col-sm-4 my-1">
                            @if (Model.Waiver.GroupApprover != null)
                            {
                                var counter = 0;
                                @foreach (var groupApprover in Model.Waiver.GroupApprover)
                                {
                                    counter = counter + 1;
                                    <span>@groupApprover</span>
                                    if (counter < Model.Waiver.GroupApprover.Count)
                                    {
                                        <span>,&nbsp;</span>
                                    }
                                }
                            }
                            @* @Html.DisplayFor(model => model.PTN.GroupApprover) *@
                        </dd>
                    </div>
                </div>
            </div>
            <hr / class="mt-3">
            <div class="row">
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Waiver.CreatedUser)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Waiver.CreatedUser)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Waiver.CreatedUserFullName)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Waiver.CreatedUserFullName)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Waiver.CreatedUserEmail)
                </dt>
                <dd class="col-sm-4 mt-1 mb-3">
                    @Html.DisplayFor(model => model.Waiver.CreatedUserEmail)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Waiver.CreatedDate)
                </dt>
                <dd class="col-sm-4 mt-1 mb-3">
                    @Html.DisplayFor(model => model.Waiver.CreatedDate)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Waiver.ModifiedUser)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Waiver.ModifiedUser)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Waiver.ModifiedUserFullName)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Waiver.ModifiedUserFullName)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Waiver.ModifiedUserEmail)
                </dt>
                <dd class="col-sm-4 mt-1 mb-3">
                    @Html.DisplayFor(model => model.Waiver.ModifiedUserEmail)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Waiver.ModifiedDate)
                </dt>
                <dd class="col-sm-4 mt-1 mb-3">
                    @Html.DisplayFor(model => model.Waiver.ModifiedDate)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Waiver.DeletedUser)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Waiver.DeletedUser)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Waiver.DeletedUserFullName)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Waiver.DeletedUserFullName)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Waiver.DeletedUserEmail)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Waiver.DeletedUserEmail)
                </dd>
                <dt class="col-sm-2 my-1 text-end">
                    @Html.DisplayNameFor(model => model.Waiver.DeletedDate)
                </dt>
                <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.Waiver.DeletedDate)
                </dd>
            </div>
        </div>
        <hr />
        <div class="row mt-5">
            <div class="col-5 text-start">
                @if ((ViewBag.IsAdmin == true || ViewBag.Username == Model.Waiver.CreatedUser) && (Model.Waiver.Status == "Draft") && (Model.Ptn.Status == "Approved"))
                {
                    @Html.ActionLink("Edit","Edit",new {id=@Model?.Waiver?.Id, tab="Details"},new {@class="btn btn-primary me-1"})
                    @*                     @Html.ActionLink("Add Impact Assessment Reviewers","Index","AdditionalImpactAssessmentReviewers", new {ptnId=Model.PTN.Id, tab="Details"}, new {@class="btn btn-success ms-1"}) *@
                }
                @Html.ActionLink("Back to PTN","Details","PTNs", new {id=Model.Waiver.PTNId,tab="Waivers"}, new {@class="btn btn-secondary"})
            </div>
        </div>
    </div>

    @******************************************************************************************************************@
    @*  ATTACHMENTS TAB  **********************************************************************************************@
    @******************************************************************************************************************@
    <div class="tab-pane fade show @Model.TabActiveAttachmentsWaiver" id="nav-attachmentsWaiver" role="tabpanel" aria-labelledby="nav-attachmentsWaiver-tab">
        <div class="text-nowrap mt-5">
            @*<h4 class="mt-5">Attachments</h4>*@
            @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
            @* @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"}) *@
            <div class="row mb-4">
                <div class="col-12">
                    <div class="text-nowrap fs-5">
                        <span class="fw-bold">STEP 1:</span> Download Waiver Template
                        @* @Html.ActionLink("Download Waiver Template","Detail", new {}, new {@class="btn btn-success mt-3 ms-2", @style="display:inline !important;"}) *@
                        <a href="https://sksiltronusa.sharepoint.com/sites/Vault/NoCRWithoutTrn/Forms/AllItems.aspx?view=7&q=%22Waiver%20Form%22%20%2Edocx" target="_blank" class="btn btn-primary mt-3 ms-2" style="display:inline !important;">Get Waiver Template</a>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="text-nowrap fs-5">
                        <span class="fw-bold">STEP 2:</span> Complete Waiver Template
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="text-nowrap fs-5">
                        <span class="fw-bold">STEP 3:</span> Upload Completed Waiver Template
                    </div>
                </div>
            </div>
            <div class="mx-5">
                @using (Html.BeginForm("SaveFile", "Waivers", new { id = Model.Waiver.Id }, FormMethod.Post, false, new { enctype = "multipart/form-data" }))
                {
                    <div class="control-label fw-bold mt-5 mb-2">
                        <strong>Upload Completed Waiver Template:</strong>
                    </div>
                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-9">
                                <input type="file" name="fileAttachment" class="form-control" @ViewBag.Disable />
                                <div class="form-group text-danger fw-bold">
                                    @*<input asp-for="FileAttachmentError" class="form-control" />*@
                                    @Html.DisplayFor(m => m.FileAttachmentError)
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <input type="submit" value="Upload Completed Waiver Template" class="form-control btn btn-success" @ViewBag.Disable>
                            </div>
                        </div>
                    </div>
                }
                <table class="table table-bordered table-striped mt-5">
                    <thead class="table-primary">
                        <tr>
                            <th>
                                File Name
                            </th>
                            <th>
                                Date Added
                            </th>
                            <th>
                                Size
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.AttachmentsWaiver)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @* @Html.DisplayFor(modelItem => item.Size) *@
                                    @{
                                        var size = item.Size / 1000 < 1 ? item.Size.ToString() + " bytes" : (item.Size / 1000).ToString("N0") + " KB";
                                    }
                                    @* @Html.DisplayFor(modelItem => item.Size.ToString("#,##0")) KB *@
                                    @size
                                </td>
                                <td>
                                    @*<a href="@item.FullPath" data-type="URL" target="_blank">View File</a>*@
                                    @*<a asp-controller="ChangeRequests" asp-action="DisplayAttachment" asp-route-id="@item.Id">Edit</a>*@
                                    @Html.ActionLink("Download File","DownloadFile","Waivers",new {id=@Model.Waiver.Id, fileName=item.Name, sourcePath=item.FullPath},new {@class="btn btn-secondary", title="Download to Download Folder"})
                                    @if (Model.Waiver.Status == "Draft" && (ViewBag.IsAdmin || ViewBag.Username == Model.Waiver.CreatedUser))
                                    {
                                        @Html.ActionLink("Delete","DeleteFile","Waivers",new {id=@Model.Waiver.Id, fileName=item.Name, sourcePath=item.FullPath},new {@class="btn btn-danger", title="Delete Attachment"})
                                    }
                                    @*<a asp-controller="ImplementationFinalApprovalResponses" asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                    @if (Model.AttachmentsWaiver.Count() == 0)
                    {
                        <tr>
                            <td>No data found</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </table>
                @Html.ActionLink("Back to PTN","Details","PTNs", new {id=Model.Waiver.PTNId,tab="Waivers"}, new {@class="btn btn-secondary mt-3"})
            </div>
        </div>
    </div>
    @******************************************************************************************************************@
    @*  SUBMIT FOR ADMIN APPROVAL TAB *********************************************************************************@
    @******************************************************************************************************************@
    <div class="tab-pane fade show @Model.TabActiveWaiverApproval" id="nav-waiverApproval" role="tabpanel" aria-labelledby="nav-waiverApproval-tab">
        @if (@Model.Waiver.Status == "Draft")
        {
            @if (ViewBag.IsAdmin || (ViewBag.Username == Model.Waiver.CreatedUser || ViewBag.Username == Model.Ptn.CreatedUser))
            {
                <div class="row">
                    <div class="col-12">
                        <h5>
                            Once submitted for approval, you can only edit the comment field.  Make sure everything is complete before submitting for approval.
                        </h5>
                    </div>
                </div>
                @* <form asp-action="RejectWaiver" asp-route-id="@Model.Waiver.Id"> *@
                <form asp-action="RejectWaiver">
                    @* <input type="hidden" asp-for="@Model.Waiver.Id" /> *@
                    <input type="hidden" asp-for="@Model.Waiver.Id" />
                    <input type="hidden" asp-for="@Model.Ptn.Id" />
                    <div class="row mt-5">
                        <div class="col-12">
                            @Html.ActionLink("Submit for Approval","SubmitWaiverForApproval","Waivers", new {id=Model.Waiver.Id}, new {@class="btn btn-success", onclick="return DisplayProgressMessage(this, 'Saving...');"})
                            @Html.ActionLink("Back to PTN", "Details", "PTNs", new { id = Model.Waiver.PTNId, tab = "Waivers" }, new { @class = "btn btn-secondary ms-1" })
                            @* <input type="submit" value="Reject Waiver" class="btn btn-danger ms-1" onclick="return DisplayProgressMessage(this, 'Saving...');" /> *@
                        </div>
@*                         <div class="row mt-3 mb-1">
                            <div class="col-12">
                                <label asp-for="Waiver.RejectedReason" class="control-label fw-bold mb-1"></label>
                                @Html.TextAreaFor(model => model.Waiver.RejectedReason, new {@class = "form-control", @rows = 3 })
                                @if (@ViewBag.RejectedReason != null)
                                {
                                    <span class="text-danger fw-bold mt-1">@ViewBag.RejectedReason</span>
                                }
                            </div>
                        </div> *@
                    </div>
                </form>
            }
            else
            {
                <div class="row">
                    <div class="col-12">
                        <h5>
                            Waiver Creater or PTN administrator must submit this Waiver for approval in order to move on to next phase.
                        </h5>
                    </div>
                </div>
            }
        }
        else
        {
            @if (Model.Waiver.SubmittedForApprovalUser != null)
            {

                @if (Model.Waiver.RejectedBeforeSubmission == true)
                {
                    <div class="row">
                        <div class="col-12">
                            Waiver has been <span class="text-danger fw-bold">Rejected</span> by <span class="fw-bold">@Model.Waiver.SubmittedForApprovalUserFullName</span> on <span class="fw-bold">@Model.Waiver.SubmittedForApprovalDate</span>.
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <span class="fw-bold">Reason for Rejection: </span>@Model.Waiver.RejectedReason
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-12">
                            Waiver has been <span class="text-success fw-bold">submitted for approval</span> by <span class="fw-bold">@Model.Waiver.SubmittedForApprovalUserFullName</span> on <span class="fw-bold">@Model.Waiver.SubmittedForApprovalDate</span>.
                        </div>
                    </div>
                }
            }
        }
        <div class="row mt-5">
            <div class="col-12 text-start">
                
            </div>
        </div>
    </div>
    @******************************************************************************************************************@
    @*  WAIVER REVIEW APPROVAL ****************************************************************************************@
    @******************************************************************************************************************@
    <div class="tab-pane fade show @Model.TabActiveWaiverAdminApproval" id="nav-waiverAdminApproval" role="tabpanel" aria-labelledby="nav-waiverAdminApproval-tab">
        <div class="row my-3">
            <div class="col-12 text-start">
                @Html.ActionLink("Back to PTN", "Details", "PTNs", new { id = Model.Waiver.PTNId, tab = "Waivers" }, new { @class = "btn btn-secondary" })
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="align-top align-text-top table-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupApproversReview[0].Group)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupApproversReview[0].PrimaryApproverFullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupApproversReview[0].SecondaryApproverFullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupApproversReview[0].Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupApproversReview[0].ReviewedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupApproversReview[0].ReviewDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupApproversReview[0].Comment)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <form asp-controller="Waivers" asp-action="Index">
            <tbody id="groupApproverReviewIndexTable">
                    @foreach (var item in Model.GroupApproversReview)
                    {
                        var color = "";
                        if (item.Status == "Rejected")
                        {
                            color = "text-danger fw-bold";
                        }
                        else if (item.Status == "Approved")
                        {
                            color = "text-success fw-bold";
                        }
                    <tr>
                        <input type="hidden" asp-for="@item.Id" />
                        <td>
                                @Html.DisplayFor(modelItem => item.Group)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.PrimaryApproverFullName)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.SecondaryApproverFullName)
                        </td>
                        <td class="@color">
                                @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.ReviewedBy)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.ReviewDate)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td class="text-nowrap">
                                @if (Model.Waiver.Status == "Pending Approval" && (ViewBag.IsAdmin == true || ViewBag.Username == item.PrimaryApproverUsername || ViewBag.Username == item.SecondaryApproverUsername))
                                {
                                    @if (item.Status == null || item.Status == "")
                                    {
                                        @* <input type="submit" value="Save" class="btn btn-primary" /> *@
                                        @Html.ActionLink("Approve", "GroupApprove", new { waiverId = Model.Waiver.Id, groupApproverId = @item.Id, status = "Approved" }, new { @class = "btn btn-success" })
                                    }
                                    @if (item.Status == null || item.Status == "")
                                    {
                                        @Html.ActionLink("Reject", "GroupApprove", new { waiverId = Model.Waiver.Id, groupApproverId = @item.Id, status = "Rejected" }, new { @class = "btn btn-danger ms-1" })
                                    }
                                }
                        </td>
                    </tr>
                    }
            </tbody>
            </form>
            @if (Model.GroupApproversReview.Count() == 0)
            {
                <tr>
                    <td>No data found</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </table>
        <div class="row mt-3">
            <div class="col-12 text-start">
                @Html.ActionLink("Back to PTN","Details","PTNs", new {id=Model.Waiver.PTNId,tab="Waivers"}, new {@class="btn btn-secondary mt-3"})
            </div>
        </div>
    </div>
</div>