@model IEnumerable<PtnWaiver.Models.Waiver>

@{
    ViewData["Title"] = "Index";
}

<h1>Waivers</h1>
<form asp-controller="Waivers" asp-action="Index">
    <div class="row mt-5 mb-3">
        <div class="col-12">
            <input hidden value=@ViewBag.PrevSort id="WaiverPrevSortId" />
            <input hidden value=@ViewBag.PrevStatusFilter id="WaiverPrevStatusFilterId" />
            <div class="row">
                <div class="col-6 text-start">
                    @*<a asp-action="Create">Create New</a>*@
                    @*            @Html.ActionLink("Create New","Create")*@
                    <span class="flex-nowrap alert-danger">
                        @* @Html.ActionLink("Create New","Create",new {source="WaiverIndex"},new {@class="btn btn-success"}) *@
                        Waivers must be created/managed under a PTN
                    </span>
                </div>
                <div class="col-3 text-center">
                    @* <i class="bi bi-binoculars-fill" data-bs-toggle="tooltip" data-bs-html="true"></i> *@
                    <input class="form-control" id="waiverIndexSearch" type="text" placeholder="Search..">
                </div>
                <div class="col-1 fw-bold text-end mt-2">
                    Status:
                </div>
                <div class="col-2 text-start">
                    @Html.DropDownList("statusFilter", new SelectList(ViewBag.StatusList,"Value","Text"), new {@class = "form-control form-select", @id="waiverIndexStatusFilter"})
                </div>
            </div>
        </div>
    </div>
</form>
<table class="table table-bordered table-striped">
    <thead class="align-top align-text-top table-primary">
        <tr>
            @*             <th>
            @Html.DisplayNameFor(model => model.PTN.DocId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.WaiverNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PtnDocId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevisionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalIdMes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductProcess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Areas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupApprover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody id="waiverIndexTable">
        @foreach (var item in Model)
        {
            var color = "";
            if (item.Status == "Draft")
            {
                color = "text-warning fw-bold";
            }
            else if (item.Status == "Pending Approval")
            {
                color = "text-primary fw-bold";
            }
            else if (item.Status == "Approved")
            {
                color = "text-success fw-bold";
            }
            else if (item.Status == "Closed")
            {
                color = "text-success fw-bold";
            }
            else if (item.Status == "Rejected")
            {
                color = "text-danger fw-bold";
            }
            <tr>
                @*                 <td>
            @Html.DisplayFor(modelItem => item.PTN.DocId)
            </td> *@
                <td>
                    @* @Html.DisplayFor(modelItem => item.WaiverNumber) *@
                    @Html.ActionLink(item.WaiverNumber, "Details", "Waivers", new { id = @item.Id }, new { @class = "btn btn-primary text-nowrap" })
                </td>
                <td>
                    @Html.ActionLink(item.PtnDocId,"Details","PTNs",new {id=@item.PTNId, tab="Waivers"},new {@class="btn btn-primary text-nowrap"})
                    @* @Html.DisplayFor(modelItem => item.PtnDocId) *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RevisionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExternalIdMes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.ProductProcess) *@
                    @if (item.ProductProcess != null)
                    {
                        var counter = 0;
                        @foreach (var productProcess in item.ProductProcess)
                        {
                            counter = counter + 1;
                            <span>@productProcess</span>
                            if (counter < item.ProductProcess.Count)
                            {
                                <span>,@* &nbsp; *@</span>
                            }
                        }
                    }
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.Areas) *@
                    @if (item.Areas != null)
                    {
                        var counter = 0;
                        @foreach (var areas in item.Areas)
                        {
                            counter = counter + 1;
                            <span>@areas</span>
                            if (counter < item.Areas.Count)
                            {
                                <span>,@* &nbsp; *@</span>
                            }
                        }
                    }
                </td>
                <td>
                    @if (item.GroupApprover != null)
                    {
                        var counter = 0;
                        @foreach (var groupApprover in item.GroupApprover)
                        {
                            counter = counter + 1;
                            <span>@groupApprover</span>
                            if (counter < item.GroupApprover.Count)
                            {
                                <span>,@* &nbsp; *@</span>
                            }
                        }
                    }
                </td>
                <td class="@color">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
@*                 <td class="text-nowrap">
                    @Html.ActionLink("Edit","Edit",new {id=@item.Id, tab="Details"},new {@class="btn btn-primary"})
                    @Html.ActionLink("Details","Details",new {id=@item.Id, tab="Details"},new {@class="btn btn-secondary ms-1"})
                    @if (ViewBag.IsAdmin == true || ViewBag.Username == item.CreatedUser)
                    {
                        @if (item.DeletedDate == null && item.Status == "Draft")   // COMMENT OUT THIS LINE IN ORDER TO DELETE CHANGE REQUESTS
                        {
                            @Html.ActionLink("Delete","Delete",new {id=@item.Id, tab="Details"},new {@class="btn btn-danger ms-1"})
                        }
                    }
                </td> *@
            </tr>
        }
    </tbody>
    @if (Model.Count() == 0)
    {
        <tr>
            <td>No data found</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
@*             <td></td> *@
            @* <td></td> *@
        </tr>
    }
</table>
