@model PtnWaiver.Models.PTN

@{
    ViewData["Title"] = "Create";
}

<h1>PTN</h1>
<h4>Create</h4>
<hr />
<form asp-action="CloneCreate" asp-route-clonedId="@ViewBag.ClonedId" asp-route-source="@ViewBag.Source">
    <div class="row my-4">
        <div class="col-12">
            <div class="text-nowrap">
                <span class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" onclick="return DisplayProgressMessage(this, 'Saving...');" />
                </span>
                <span class="mx-2">
                    @Html.ActionLink("Cancel","Index",new {},new {@class="btn btn-secondary"})
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="CreatedUser" />
            <input type="hidden" asp-for="CreatedUserFullName" />
            <input type="hidden" asp-for="CreatedUserEmail" />
            <input type="hidden" asp-for="CreatedDate" />
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger fw-bold" })
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            @*             <div class="form-group my-3">
            <label asp-for="DocId" class="control-label fw-bold mb-1"></label>
            <input asp-for="DocId" class="form-control" style="max-width:25%;" />
            <span asp-validation-for="DocId" class="text-danger"></span>
            </div> *@
            <div class="form-group my-3">
                <label asp-for="Title" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @Html.TextAreaFor(model => model.Title, new { @class = "form-control", @rows = 3 })
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="OriginatingGroup" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @Html.DropDownListFor(model => model.OriginatingGroup, new SelectList(ViewBag.OriginatingGroups, "Value", "Text"), "-- select --", new { @class="form-control form-select",@style="max-width:25%;"})
                <span asp-validation-for="OriginatingGroup" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="ProductSize" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @Html.DropDownListFor(model => model.ProductSize, new SelectList(ViewBag.ProductSizes, "Value", "Text"), "-- select --", new { @class = "form-control form-select", @style = "max-width:25%;" })
                <span asp-validation-for="ProductSize" class="text-danger"></span>
            </div>
            <div class="form-group form-check my-3">
                <label class="form-check-label fw-bold mb-1 my-1">
                    <input class="form-check-input" asp-for="isWaferingDepartment" /> @Html.DisplayNameFor(model => model.isWaferingDepartment)
                </label>
            </div>
@*             <div class="form-group my-3">
                <label asp-for="PtrNumber" class="control-label fw-bold mb-1"></label>
                <input asp-for="PtrNumber" class="form-control" />
                <span asp-validation-for="PtrNumber" class="text-danger"></span>
            </div> *@
            <div class="form-group my-3">
                <label asp-for="Comments" class="control-label fw-bold mb-1"></label>
                @* <input asp-for="Roadblocks" class="form-control" style="max-width:100%;" /> *@
                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @rows = 3 })
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group my-3">
                <label asp-for="SubjectType" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                <i class="bi bi-info-circle-fill" style="color:blue;" data-bs-toggle="tooltip" data-bs-html="true" title="If multiple select, hold down 'Ctrl' key and select/click one or more. To de-select, hold down 'Ctrl' and select the one to remove from selection">
                </i>
                @* <input asp-for="SubjectType" class="form-control" style="max-width:25%;" /> *@
                @*                 @Html.DropDownListFor(model => model.SubjectType, new SelectList(ViewBag.SubjectTypes, "Value", "Text"), "-- select --", new { @class="form-control form-select",@style="max-width:25%;"}) *@
                @Html.ListBoxFor(model => model.SubjectType, new MultiSelectList(ViewBag.SubjectTypes,"Value","Text", Model.SubjectType), new { @class="form-control chosen-select", multiple=true, data_placeholder = "Select User(s)", size=9 })
                <span asp-validation-for="SubjectType" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="GroupApprover" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                <i class="bi bi-info-circle-fill" style="color:blue;" data-bs-toggle="tooltip" data-bs-html="true" title="If multiple select, hold down 'Ctrl' key and select/click one or more. To de-select, hold down 'Ctrl' and select the one to remove from selection">
                </i>
                @* <input asp-for="Group" class="form-control" style="max-width:25%;" /> *@
                @*                 @Html.DropDownListFor(model => model.GroupApprover, new SelectList(ViewBag.Groups, "Value", "Text"), "-- select --", new { @class="form-control form-select"}) *@
                @Html.ListBoxFor(model => model.GroupApprover, new MultiSelectList(ViewBag.Groups, "Value", "Text", Model.GroupApprover), new { @class = "form-control chosen-select", multiple = true, data_placeholder = "Select Approver(s)", size = 9 })
                <span asp-validation-for="GroupApprover" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12">
            <div class="text-nowrap">
                <span class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </span>
                <span class="mx-2">
                    @Html.ActionLink("Cancel","Index",new {},new {@class="btn btn-secondary"})
                </span>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
