@model PtnWaiver.Models.PTN

@{
    ViewData["Title"] = "Create";
}

<h1>PTN</h1>
<h4>Create</h4>
<hr />
<form asp-action="Create" asp-route-source="@ViewBag.Source">
    <div class="row my-4">
        <div class="col-md-12">
            <div class="text-nowrap">
                <span class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </span>
                <span class="mx-2">
                    @if (ViewBag.Source == "Home")
                    {
                        @Html.ActionLink("Cancel","Index","Home",new {},new {@class="btn btn-secondary"})
                    }
                    else
                    {
                        @Html.ActionLink("Cancel","Index",new {},new {@class="btn btn-secondary"})
                    }
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="CreatedUser" />
            <input type="hidden" asp-for="CreatedUserFullName" />
            <input type="hidden" asp-for="CreatedUserEmail" />
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger fw-bold" })
        </div>
    </div>
    <div class="row">
        <div class="col-12">
@*             <div class="form-group my-3">
                <label asp-for="DocId" class="control-label fw-bold mb-1"></label>
                <input asp-for="DocId" class="form-control" style="max-width:25%;" />
                <span asp-validation-for="DocId" class="text-danger"></span>
            </div> *@
            <div class="form-group my-3">
                <label asp-for="PtnPin" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @* <input asp-for="PtnPin" class="form-control" style="max-width:25%;" /> *@
                @Html.DropDownListFor(model => model.PtnPin, new SelectList(ViewBag.PtnPins, "Value", "Text"), "-- select --", new { @class="form-control form-select",@style="max-width:25%;"})
                <span asp-validation-for="PtnPin" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Area" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @* <input asp-for="PtnPin" class="form-control" style="max-width:25%;" /> *@
                @Html.DropDownListFor(model => model.Area, new SelectList(ViewBag.Areas, "Value", "Text"), "-- select --", new { @class="form-control form-select",@style="max-width:25%;"})
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="SubjectType" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @* <input asp-for="SubjectType" class="form-control" style="max-width:25%;" /> *@
                @Html.DropDownListFor(model => model.SubjectType, new SelectList(ViewBag.SubjectTypes, "Value", "Text"), "-- select --", new { @class="form-control form-select",@style="max-width:25%;"})
                <span asp-validation-for="SubjectType" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Group" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @* <input asp-for="Group" class="form-control" style="max-width:25%;" /> *@
                @Html.DropDownListFor(model => model.Group, new SelectList(ViewBag.Groups, "Value", "Text"), "-- select --", new { @class="form-control form-select",@style="max-width:25%;"})
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Title" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @Html.TextAreaFor(model => model.Title, new {@class = "form-control", @rows = 3 })
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="TisNumber" class="control-label fw-bold mb-1"></label>
                <input asp-for="TisNumber" class="form-control" style="max-width:25%;" />
                <span asp-validation-for="TisNumber" class="text-danger"></span>
            </div>
@*             <div class="form-group my-3">
                <label asp-for="PdfLocation" class="control-label fw-bold mb-1"></label>
                <input asp-for="PdfLocation" class="form-control" style="max-width:100%;" />
                <span asp-validation-for="PdfLocation" class="text-danger"></span>
            </div> *@
            <div class="form-group my-3">
                <label asp-for="Status" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @* <input asp-for="Status" class="form-control" style="max-width:25%;" /> *@
                @Html.DropDownListFor(model => model.Status, new SelectList(ViewBag.Status, "Value", "Text"), new { @class="form-control form-select", @style="max-width:25%;"})
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Roadblocks" class="control-label fw-bold mb-1"></label>
                @* <input asp-for="Roadblocks" class="form-control" style="max-width:100%;" /> *@
                @Html.TextAreaFor(model => model.Roadblocks, new {@class = "form-control", @rows = 3 })
                <span asp-validation-for="Roadblocks" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="text-nowrap">
                <span class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </span>
                <span class="mx-2">
                    @if (ViewBag.Source == "Home")
                    {
                        @Html.ActionLink("Cancel","Index","Home",new {},new {@class="btn btn-secondary"})
                    }
                    else
                    {
                        @Html.ActionLink("Cancel","Index",new {},new {@class="btn btn-secondary"})
                    }
                </span>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}