@model PtnWaiver.ViewModels.PtnViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col-4">
        <h1 style="display:inline">
            <span class="me-2 text-nowrap">
                PTN
            </span>
            <span class="" title="Create New PTN based on this PTN.  Include all Details only. Status will be set to 'Draft' and PTN Creator will be you.">
                @Html.ActionLink("Clone", "Clone", new { id = @Model?.PTN?.Id, tab = "Details" }, new { @class = "btn btn-success align-middle" })
                @* @Html.ActionLink("Download New Equipment Checklist","DownloadNewEquipmentChecklist","ChangeRequests", new {id=@Model.ChangeRequest.Id}, new {@class="btn btn-secondary", title="Download 'New Equipment Checklist' Spreadsheet to Download Folder"}) *@
            </span>
        </h1>
    </div>
    <div class="col-8 text-end">
        <h4>
            <span class="fw-bold">
                @Html.DisplayFor(model => model.PTN.DocId)
            </span>
        </h4>
        <h4>
            @Html.DisplayNameFor(model => model.PTN.Status):
            @if (Model.PTN.Status == "Rejected")
            {
                <span class="text-danger fw-bold">Rejected</span>
            }
            else
            {
                <span class="text-success fw-bold">
                    @Html.DisplayFor(model => model.PTN.Status)
                </span>
            }
        </h4>
    </div>
</div>
<nav class="my-5">
    <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link @Model.TabActiveDetail fw-bolder" id="nav-detail-tab" data-bs-toggle="tab" href="#nav-detail" role="tab" aria-controls="nav-home" aria-selected="true">Details</a>
        </li>
        @* <li class="nav-item ms-auto"> *@
        <li class="nav-item">
            <a class="nav-link @Model.TabActiveAttachmentsPtn fw-bolder" id="nav-attachmentsPtn-tab" data-bs-toggle="tab" href="#nav-attachmentsPtn" role="tab" aria-controls="nav-profile" aria-selected="false">Upload Template (@Model.AttachmentsPtn.Count.ToString())</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @Model.TabActivePtnApproval @Model.Tab3Disabled fw-bolder" id="nav-ptnApproval-tab" data-bs-toggle="tab" href="#nav-ptnApproval" role="tab" aria-controls="nav-profile" aria-selected="false">
                Submit PTN for Approval
                <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-html="true" title="Disabled if there is not an attachment. Download templete in previous step, complete, and upload/attach to the PTN to get to the next stage.">
                </i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @Model.TabActivePtnAdminApproval @Model.Tab4Disabled fw-bolder" id="nav-ptnAdminApproval-tab" data-bs-toggle="tab" href="#nav-ptnAdminApproval" role="tab" aria-controls="nav-profile" aria-selected="false">
                Approve PTN
                <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-html="true" title="Disabled if PTN creator has not submitted for Admin review. Must submit PTN for review in previous stage to get to the next stage.">
                </i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @Model.TabActiveWaivers @Model.Tab5Disabled fw-bolder" id="nav-activeWaivers-tab" data-bs-toggle="tab" href="#nav-activeWaivers" role="tab" aria-controls="nav-profile" aria-selected="false">
                Waivers (@Model.PTN.Waivers.Count.ToString())
                <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-html="true" title="Disabled if Admin has not approved. Must have a PTN administrator approve PTN to get to the next stage of adding Waiver(s).">
                </i>
            </a>
        </li>
    </ul>
</nav>
<div class="tab-content" id="nav-tabContent">
    @******************************************************************************************************************@
    @*  DETAIL TAB ****************************************************************************************************@
    @******************************************************************************************************************@
    <div class="tab-pane fade show @Model.TabActiveDetail" id="nav-detail" role="tabpanel" aria-labelledby="nav-home-tab">
        @*<h4 class="mt-5">Details</h4>*@
        @*                <a class="me-2" asp-action="Edit" asp-route-id="@Model?.ChangeRequest?.Id">Edit</a>
        <a class="mx-2" asp-action="Index">Back to List</a>*@
        <div class="row mt-5">
            <div class="col-12 text-start">
                @if (ViewBag.IsAdmin == true || ViewBag.Username == Model.PTN.CreatedUser)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = @Model?.PTN?.Id, tab = "Details" }, new { @class = "btn btn-primary me-1" })
                    @*                     @Html.ActionLink("Add Impact Assessment Reviewers","Index","AdditionalImpactAssessmentReviewers", new {ptnId=Model.PTN.Id, tab="Details"}, new {@class="btn btn-success ms-1"}) *@
                }
                @if (ViewBag.SourceString != null && ViewBag.SourceString == "Index")
                {
                    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary" })
                }
                else
                {
                    @Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-secondary" })
                }
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <dt class="col-sm-3 my-1 text-sm-end">
                        @Html.DisplayNameFor(model => model.PTN.Title)
                    </dt>
                    <dd class="col-sm-9 my-1">
                        @Html.DisplayFor(model => model.PTN.Title)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-3 my-1 text-sm-end">
                        @Html.DisplayNameFor(model => model.PTN.OriginatingGroup)
                    </dt>
                    <dd class="col-sm-9 my-1">
                        @Html.DisplayFor(model => model.PTN.OriginatingGroup)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-3 my-1 text-sm-end">
                        @Html.DisplayNameFor(model => model.PTN.ProductSize)
                    </dt>
                    <dd class="col-sm-9 my-1">
                        @Html.DisplayFor(model => model.PTN.ProductSize)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-3 my-1 text-sm-end">
                        @Html.DisplayNameFor(model => model.PTN.PtrNumber)
                    </dt>
                    <dd class="col-sm-9 my-1">
                        @Html.DisplayFor(model => model.PTN.PtrNumber)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-3 my-1 text-sm-end">
                        @Html.DisplayNameFor(model => model.PTN.Comments)
                    </dt>
                    <dd class="col-sm-9 my-1">
                        @Html.DisplayFor(model => model.PTN.Comments)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-3 my-1 text-sm-end">
                        @Html.DisplayNameFor(model => model.PTN.RejectedReason)
                    </dt>
                    <dd class="col-sm-9 my-1">
                        @Html.DisplayFor(model => model.PTN.RejectedReason)
                    </dd>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <dt class="col-sm-3 my-1 text-sm-end">
                        @Html.DisplayNameFor(model => model.PTN.SubjectType)
                    </dt>
                    @*                 <dd class="col-sm-4 my-1">
                    @Html.DisplayFor(model => model.PTN.SubjectType)
                    </dd> *@
                    <dd class="col-sm-9 my-1">
                        @if (Model.PTN.SubjectType != null)
                        {
                            var counter = 0;
                            @foreach (var subjectType in Model.PTN.SubjectType)
                            {
                                counter = counter + 1;
                                <span>@subjectType</span>
                                if (counter < Model.PTN.SubjectType.Count)
                                {
                                    <span>,&nbsp;</span>
                                }
                            }
                        }
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-3 my-1 text-sm-end">
                        Group / Approver(s)
                    </dt>
                    <dd class="col-sm-9 my-1">
                        @if (Model.PTN.GroupApprover != null)
                        {
                            var counter = 0;
                            @foreach (var groupApprover in Model.PTN.GroupApprover)
                            {
                                counter = counter + 1;
                                <span>@groupApprover</span>
                                if (counter < Model.PTN.GroupApprover.Count)
                                {
                                    <span>,&nbsp;</span>
                                }
                            }
                        }
                        @* @Html.DisplayFor(model => model.PTN.GroupApprover) *@
                    </dd>
                </div>
            </div>
        </div>
        <hr />
        <div class="accordion" id="accordionPtnDetails">
            <div class="accordion-item ">
                <h2 class="accordion-header" id="headingPtnDetails">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePtnDetails" aria-expanded="false" aria-controls="collapsePtnDetails">
                        <strong>User/Timestamp Info</strong>
                    </button>
                </h2>
                <div id="collapsePtnDetails" class="accordion-collapse collapse" aria-labelledby="headingPtnDetails" data-bs-parent="#accordionPtnDetails">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="row mt-1">
                                    <div class="col-12 text-center">
                                        <h4>Created</h4>
                                    </div>
                                </div> 
                                <div class="row mt-1">
                                    <dt class="col-lg-3 my-1 text-lg-end">
                                        Username
                                    </dt>
                                    <dd class="col-lg-9 my-1">
                                        @Html.DisplayFor(model => model.PTN.CreatedUser)
                                    </dd>
                                </div>
                                <div class="row mt-1">
                                    <dt class="col-lg-3 my-1 text-lg-end">
                                        Full Name
                                    </dt>
                                    <dd class="col-lg-9 my-1">
                                        @Html.DisplayFor(model => model.PTN.CreatedUserFullName)
                                    </dd>
                                </div>
                                <div class="row mt-1">
                                    <dt class="col-lg-3 my-1 text-lg-end">
                                        Email
                                    </dt>
                                    <dd class="col-lg-9 mt-1 mb-3">
                                        @Html.DisplayFor(model => model.PTN.CreatedUserEmail)
                                    </dd>
                                </div>
                                <div class="row mt-1">
                                    <dt class="col-lg-3 my-1 text-lg-end">
                                        Date
                                    </dt>
                                    <dd class="col-lg-9 mt-1 mb-3">
                                        @Html.DisplayFor(model => model.PTN.CreatedDate)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row mt-1">
                                    <div class="col-12 text-center">
                                        <h4>Modified</h4>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <dt class="col-lg-3 my-1 text-lg-end">
                                        Username
                                    </dt>
                                    <dd class="col-lg-9 my-1">
                                        @Html.DisplayFor(model => model.PTN.ModifiedUser)
                                    </dd>
                                </div>
                                <div class="row mt-1">
                                    <dt class="col-lg-3 my-1 text-lg-end">
                                        Full Name
                                    </dt>
                                    <dd class="col-lg-9 my-1">
                                        @Html.DisplayFor(model => model.PTN.ModifiedUserFullName)
                                    </dd>
                                </div>
                                <div class="row mt-1">
                                    <dt class="col-lg-3 my-1 text-lg-end">
                                        Email
                                    </dt>
                                    <dd class="col-lg-9 mt-1 mb-3">
                                        @Html.DisplayFor(model => model.PTN.ModifiedUserEmail)
                                    </dd>
                                </div>
                                <div class="row mt-1">
                                    <dt class="col-lg-3 my-1 text-lg-end">
                                        Date
                                    </dt>
                                    <dd class="col-lg-9 mt-1 mb-3">
                                        @Html.DisplayFor(model => model.PTN.ModifiedDate)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row mt-1">
                                    <div class="col-12 text-center">
                                        <h4>Deleted</h4>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <dt class="col-lg-3 my-1 text-lg-end">
                                        Username
                                    </dt>
                                    <dd class="col-lg-9 my-1">
                                        @Html.DisplayFor(model => model.PTN.DeletedUser)
                                    </dd>
                                </div>
                                <div class="row mt-1">
                                    <dt class="col-lg-3 my-1 text-lg-end">
                                        Full Name
                                    </dt>
                                    <dd class="col-lg-9 my-1">
                                        @Html.DisplayFor(model => model.PTN.DeletedUserFullName)
                                    </dd>
                                </div>
                                <div class="row mt-1">
                                    <dt class="col-lg-3 my-1 text-lg-end">
                                        Email
                                    </dt>
                                    <dd class="col-lg-9 my-1">
                                        @Html.DisplayFor(model => model.PTN.DeletedUserEmail)
                                    </dd>
                                </div>
                                <div class="row mt-1">
                                    <dt class="col-lg-3 my-1 text-lg-end">
                                        Date
                                    </dt>
                                    <dd class="col-lg-9 my-1">
                                        @Html.DisplayFor(model => model.PTN.DeletedDate)
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row mt-5">
            <div class="col-5 text-start">
                @if (ViewBag.IsAdmin == true || ViewBag.Username == Model.PTN.CreatedUser)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = @Model?.PTN?.Id, tab = "Details" }, new { @class = "btn btn-primary me-1" })
                    @*                     @Html.ActionLink("Add Impact Assessment Reviewers","Index","AdditionalImpactAssessmentReviewers", new {ptnId=Model.PTN.Id, tab="Details"}, new {@class="btn btn-success ms-1"}) *@
                }
                @if (ViewBag.SourceString != null && ViewBag.SourceString == "Index")
                {
                    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary" })
                }
                else
                {
                    @Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-secondary" })
                }
            </div>
        </div>
    </div>
    @******************************************************************************************************************@
    @*  ATTACHMENTS TAB  **********************************************************************************************@
    @******************************************************************************************************************@
    <div class="tab-pane fade show @Model.TabActiveAttachmentsPtn" id="nav-attachmentsPtn" role="tabpanel" aria-labelledby="nav-attachmentsPtn-tab">
        <div class="mt-5">
            @*<h4 class="mt-5">Attachments</h4>*@
            @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
            @* @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"}) *@
            <div class="row mb-4">
                <div class="col-12">
                    <div class="text-nowrap fs-5">
                        <span class="fw-bold">STEP 1:</span> Download PTN (PCCB) Template
                        @* @Html.ActionLink("Download PTN Template","Detail", new {}, new {@class="btn btn-success mt-3 ms-2", @style="display:inline !important;"}) *@
                        @*                      <a href="https://sksiltronusa.sharepoint.com/sites/Vault/NoCRWithoutTrn/Forms/AllItems.aspx?view=7&q=TMP%2D0506" target="_blank" class="btn btn-primary mt-3 ms-2" style="display:inline !important;">Get PTN (PCCB) Template</a> *@
                        <a href="https://sksiltronusa.sharepoint.com/sites/Vault/NoCRWithoutTrn/Forms/AllItems.aspx?view=7&q=PCCB%20Template%2Epptx%20TMP%2D0506" target="_blank" class="btn btn-primary mt-3 ms-2" style="display:inline !important;">Get PTN (PCCB) Template</a>

                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="text-nowrap fs-5">
                        <span class="fw-bold">STEP 2:</span> Complete PTN (PCCB) Template
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="text-nowrap fs-5">
                        <span class="fw-bold">STEP 3:</span> Upload Completed PTN (PCCB) Template
                    </div>
                </div>
            </div>
            <div class="mx-5">
                @using (Html.BeginForm("SaveFile", "PTNs", new { id = Model.PTN.Id }, FormMethod.Post, false, new { enctype = "multipart/form-data" }))
                {
                    <div class="control-label fw-bold mt-5 mb-2">
                        <strong>Upload Completed PTF (PCCB) Template:</strong>
                    </div>
                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-9">
                                <input type="file" name="fileAttachment" class="form-control" @ViewBag.Disable />
                                <div class="form-group text-danger fw-bold">
                                    @*<input asp-for="FileAttachmentError" class="form-control" />*@
                                    @Html.DisplayFor(m => m.FileAttachmentError)
                                </div>
                            </div>
                            <div class="col-xl-3 block">
                                <input type="submit" value="Upload Completed PTN (PCCB) Template" class="form-control btn btn-success" @ViewBag.Disable>
                            </div>
                        </div>
                    </div>
                }
                <table class="table table-bordered table-striped mt-5">
                    <thead class="table-primary">
                        <tr>
                            <th>
                                File Name
                            </th>
                            <th>
                                Date Added
                            </th>
                            <th>
                                Size
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.AttachmentsPtn)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @{
                                        var size = item.Size / 1000 < 1 ? item.Size.ToString() + " bytes" : (item.Size / 1000).ToString("N0") + " KB";
                                    }
                                    @* @Html.DisplayFor(modelItem => item.Size.ToString("#,##0")) KB *@
                                    @size
                                </td>
                                <td>
                                    @*<a href="@item.FullPath" data-type="URL" target="_blank">View File</a>*@
                                    @*<a asp-controller="ChangeRequests" asp-action="DisplayAttachment" asp-route-id="@item.Id">Edit</a>*@
                                    @Html.ActionLink("Download File", "DownloadFile", "PTNs", new { id = @Model.PTN.Id, fileName = item.Name, sourcePath = item.FullPath }, new { @class = "btn btn-secondary", title = "Download to Download Folder" })
                                    @if (Model.PTN.Status == "Draft" && (ViewBag.IsAdmin || ViewBag.Username == Model.PTN.CreatedUser))
                                    {
                                        @Html.ActionLink("Delete", "DeleteFile", "PTNs", new { id = @Model.PTN.Id, fileName = item.Name, sourcePath = item.FullPath }, new { @class = "btn btn-danger", title = "Delete Attachment" })
                                    }
                                    @*<a asp-controller="ImplementationFinalApprovalResponses" asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                    @if (Model.AttachmentsPtn.Count() == 0)
                    {
                        <tr>
                            <td>No data found</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </table>
                @if (ViewBag.SourceString != null && ViewBag.SourceString == "Index")
                {
                    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary mt-3" })
                }
                else
                {
                    @Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-secondary mt-3" })
                }
            </div>
        </div>
    </div>
    @******************************************************************************************************************@
    @*  SUBMIT FOR ADMIN APPROVAL TAB *********************************************************************************@
    @******************************************************************************************************************@
    <div class="tab-pane fade show @Model.TabActivePtnApproval" id="nav-ptnApproval" role="tabpanel" aria-labelledby="nav-ptnApproval-tab">
        @if (@Model.PTN.Status == "Draft")
        {
            @if (ViewBag.IsAdmin || ViewBag.Username == Model.PTN.CreatedUser)
            {
                <div class="row">
                    <div class="col-12">
                        <h5>
                            Once submitted for approval, you can only edit the comment or PTR Number field.  Make sure everything is complete before submitting for approval.
                        </h5>
                    </div>
                </div>
                @* <form asp-action="RejectPtn" asp-route-id="@Model.PTN.Id"> *@
                <form asp-action="RejectPtn">
                    <input type="hidden" asp-for="@Model.PTN.Id" />
                    <div class="row mt-5">
                        <div class="col-12">
                            @Html.ActionLink("Submit for Approval", "SubmitPtnForApproval", "PTNs", new { id = Model.PTN.Id }, new { @class = "btn btn-success", onclick = "return DisplayProgressMessage(this, 'Saving...');" })
                            @if (ViewBag.SourceString != null && ViewBag.SourceString == "Index")
                            {
                                @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary" })
                            }
                            else
                            {
                                @Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-secondary" })
                            }
                            @* <input type="submit" value="Reject PTN" class="btn btn-danger ms-1" onclick="return DisplayProgressMessage(this, 'Saving...');" /> *@
                        </div>
                        @*                         <div class="row mt-3 mb-1">
                <div class="col-12">
                <label asp-for="PTN.RejectedReason" class="control-label fw-bold mb-1"></label>
                @Html.TextAreaFor(model => model.PTN.RejectedReason, new { @class = "form-control", @rows = 3 })
                @if (@ViewBag.RejectedReason != null)
                {
                <span class="text-danger fw-bold mt-1">@ViewBag.RejectedReason</span>
                }
                </div>
                </div> *@
                    </div>
                </form>
            }
            else
            {
                <div class="row">
                    <div class="col-12">
                        <h5>
                            PTN Creater or PTN administrator must submit this PTN for approval in order to move on to next phase.
                        </h5>
                    </div>
                </div>
            }
        }
        else
        {
            @if (Model.PTN.SubmittedForApprovalUser != null)
            {

                @if (Model.PTN.RejectedBeforeSubmission == true)
                {
                    <div class="row">
                        <div class="col-12">
                            PTN has been <span class="text-danger fw-bold">Rejected</span> by <span class="fw-bold">@Model.PTN.SubmittedForApprovalUserFullName</span> on <span class="fw-bold">@Model.PTN.SubmittedForApprovalDate</span>.
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <span class="fw-bold">Reason for Rejection: </span>@Model.PTN.RejectedReason
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-12">
                            PTN has been <span class="text-success fw-bold">submitted for approval</span> by <span class="fw-bold">@Model.PTN.SubmittedForApprovalUserFullName</span> on <span class="fw-bold">@Model.PTN.SubmittedForApprovalDate</span>.
                        </div>
                    </div>
                }
            }
        }
    </div>
    @******************************************************************************************************************@
    @*  PTN REVIEW APPROVAL *******************************************************************************************@
    @******************************************************************************************************************@
    <div class="tab-pane fade show @Model.TabActivePtnAdminApproval" id="nav-ptnAdminApproval" role="tabpanel" aria-labelledby="nav-ptnAdminApproval-tab">
        <div class="row my-3">
            <div class="col-12 text-start">
                @if (ViewBag.SourceString != null && ViewBag.SourceString == "Index")
                {
                    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary" })
                }
                else
                {
                    @Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-secondary" })
                }
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="align-top align-text-top table-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupApproversReview[0].Group)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupApproversReview[0].PrimaryApproverFullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupApproversReview[0].SecondaryApproverFullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupApproversReview[0].Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupApproversReview[0].ReviewedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupApproversReview[0].ReviewDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupApproversReview[0].Comment)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <form asp-controller="PTNs" asp-action="Index">
            <tbody id="groupApproverReviewIndexTable">
                    @foreach (var item in Model.GroupApproversReview)
                    {
                        var color = "";
                        if (item.Status == "Rejected")
                        {
                            color = "text-danger fw-bold";
                        }
                        else if (item.Status == "Approved")
                        {
                            color = "text-success fw-bold";
                        }
                    <tr>
                        <input type="hidden" asp-for="@item.Id" />
                        <td>
                                @Html.DisplayFor(modelItem => item.Group)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.PrimaryApproverFullName)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.SecondaryApproverFullName)
                        </td>
                        <td class="@color">
                                @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.ReviewedBy)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.ReviewDate)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td class="text-nowrap">
                                @if (Model.PTN.Status == "Pending Approval" && (ViewBag.IsAdmin == true || ViewBag.Username == item.PrimaryApproverUsername || ViewBag.Username == item.SecondaryApproverUsername))
                                {
                                    @if (item.Status == null || item.Status == "")
                                    {
                                        @* <input type="submit" value="Save" class="btn btn-primary" /> *@
                                        @Html.ActionLink("Approve", "GroupApprove", new { ptnId = Model.PTN.Id, groupApproverId = @item.Id, status = "Approved" }, new { @class = "btn btn-success" })
                                    }
                                    @if (item.Status == null || item.Status == "")
                                    {
                                        @Html.ActionLink("Reject", "GroupApprove", new { ptnId = Model.PTN.Id, groupApproverId = @item.Id, status = "Rejected" }, new { @class = "btn btn-danger ms-1" })
                                    }
                                }
                        </td>
                    </tr>
                    }
            </tbody>
            </form>
            @if (Model.GroupApproversReview.Count() == 0)
            {
                <tr>
                    <td>No data found</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </table>
        <div class="row mt-3">
            <div class="col-12 text-start">
                @if (ViewBag.SourceString != null && ViewBag.SourceString == "Index")
                {
                    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary" })
                }
                else
                {
                    @Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-secondary" })
                }
            </div>
        </div>
    </div>
    @******************************************************************************************************************@
    @*  WAIVERS  ******************************************************************************************************@
    @******************************************************************************************************************@
    <div class="tab-pane fade show @Model.TabActiveWaivers" id="nav-activeWaivers" role="tabpanel" aria-labelledby="nav-activeWaivers-tab">
        <div class="">
            @*             <div class="row mt-5">
            <div class="col-12 text-start">
            @Html.ActionLink("Create","Create","Waivers",new {ptnId=@Model?.PTN?.Id, tab="Waivers"},new {@class="btn btn-success"})
            @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary ms-1"})
            </div>
            </div> *@
            <div class="row mt-5">
                <div class="col-12 text-start">
                    <h1>Waivers</h1>
                    <hr />
                    <form asp-controller="Waivers" asp-action="Index">
                        <div class="row">
                            <div class="col-12">
                                @*                                 <input hidden value=@ViewBag.PrevSort id="WaiverPrevSortId" />
                                <input hidden value=@ViewBag.PrevStatusFilter id="WaiverPrevStatusFilterId" /> *@
                                <div class="row mb-3">
                                    <div class="col-12 text-start">
                                        <span class="flex-nowrap">
                                            @if (Model.PTN.Status == "Approved")
                                            {
                                                @Html.ActionLink("Create New", "Create", "Waivers", new { ptnId = Model?.PTN?.Id, tab = "Waivers" }, new { @class = "btn btn-success me-1" })
                                            }
                                            @if (ViewBag.SourceString != null && ViewBag.SourceString == "Index")
                                            {
                                                @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-secondary" })
                                            }
                                        </span>
                                    </div>
                                    @*                                     <div class="col-3 text-center">
                                    <input class="form-control" id="waiverIndexSearch" type="text" placeholder="Search..">
                                    </div>
                                    <div class="col-1 fw-bold text-end mt-2">
                                    Status:
                                    </div>
                                    <div class="col-2 text-start">
                                    @Html.DropDownList("statusFilter", new SelectList(ViewBag.StatusList,"Value","Text"), new {@class = "form-control form-select", @id="waiverIndexStatusFilter"})
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered table-striped">
                        <thead class="align-top align-text-top table-primary">
                            <tr>
                                @*             <th>
                                @Html.DisplayNameFor(model => model.PTN.DocId)
                                </th> *@
                                <th>
                                    Waiver Number
                                </th>
                                @*                                 <th>
                                PTN Doc Id
                                </th> *@
                                <th>
                                    Revision Number
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Product/Process
                                </th>
                                <th>
                                    Group/Approver
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Date Closed
                                </th>
                                @*                                 <th>
                                Corrective Action Due Date
                                </th> *@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="waiverIndexTable">
                            @foreach (var item in Model.PTN.Waivers)
                            {
                                var color = "";
                                if (item.Status == "Draft")
                                {
                                    color = "text-warning fw-bold";
                                }
                                else if (item.Status == "Pending Approval")
                                {
                                    color = "text-primary fw-bold";
                                }
                                else if (item.Status == "Approved")
                                {
                                    color = "text-success fw-bold";
                                }
                                else if (item.Status == "Closed")
                                {
                                    color = "text-success fw-bold";
                                }
                                else if (item.Status == "Rejected")
                                {
                                    color = "text-danger fw-bold";
                                }
                                <tr>
                                    @*                 <td>
                                @Html.DisplayFor(modelItem => item.PTN.DocId)
                                </td> *@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WaiverNumber)
                                    </td>
                                    @*                                     <td>
                                @Html.ActionLink(item.PtnDocId,"Details","PTNs",new {id=@item.PTNId, tab="Details"},new {@class="btn btn-primary text-nowrap"})
                                </td> *@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RevisionNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductProcess)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GroupApprover)
                                    </td>
                                    <td class="@color">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateClosed)
                                    </td>
                                    @*                                     <td>
                                @Html.DisplayFor(modelItem => item.CorrectiveActionDueDate)
                                </td> *@
                                    <td class="text-nowrap">
                                        @* @Html.ActionLink("Edit","Edit","Waivers",new {id=@item.Id, tab="Waivers"},new {@class="btn btn-primary"}) *@
                                        @Html.ActionLink("Details", "Details", "Waivers", new { id = @item.Id, tab = "Waivers" }, new { @class = "btn btn-secondary ms-1" })
                                        @if (ViewBag.IsAdmin == true || ViewBag.Username == item.CreatedUser)
                                        {
                                            @if (item.Status != "Draft" && item.Status != "Pending Approval" && item.IsMostCurrentWaiver == true)
                                            {
                                                @Html.ActionLink("Revise", "Revise", "Waivers", new { id = @item.Id, tab = "Waivers" }, new { @class = "btn btn-success ms-1", onclick = "return DisplayProgressMessage(this, 'Saving...');", @title = "Can revise any Waiver that is not in 'Draft' or 'Pending Approval' status, and must be the most current 'Waiver Number'." })
                                            }
                                            @if (item.DeletedDate == null && item.Status == "Draft" && Model.PTN.Status == "Approved")
                                            {
                                                @Html.ActionLink("Delete", "Delete", "Waivers", new { id = @item.Id, tab = "Waivers" }, new { @class = "btn btn-danger ms-1", onclick = "return DisplayProgressMessage(this, 'Saving...');" })
                                            }
                                            @if (item.Status == "Approved")
                                            {
                                                @Html.ActionLink("Close Waiver", "CloseWaiver", "Waivers", new { id = @item.Id }, new { @class = "btn btn-primary ms-1", onclick = "return DisplayProgressMessage(this, 'Saving...');" })
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @if (Model.PTN.Waivers.Count() == 0)
                        {
                            <tr>
                                <td>No data found</td>
                                <td></td>
                                @* <td></td> *@
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                @*                                 <td></td> *@
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>