@model PtnWaiver.Models.PTN

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-4">
        <h1>PTN</h1>
        <h4>Edit</h4>
    </div>
    <div class="col-8 text-end">
        <h4>
            <span class="fw-bold">
                @Html.DisplayFor(model => model.DocId)
            </span>
        </h4>
        <h4>
            @Html.DisplayNameFor(model => model.Status):
            <span class="text-success fw-bold">
                @Html.DisplayFor(model => model.Status)
            </span>
        </h4>
    </div>
</div>

<hr />
<form asp-action="Edit">
    @if (Model.Status != "Draft")
    {
        var _readOnly = "readonly";
    }
    <div class="row my-4">
        <div class="col-12">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="mx-1 btn btn-secondary" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger fw-bold" })
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DocId" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="OriginatingGroup" />
            <input type="hidden" asp-for="BouleSize" />
            <input type="hidden" asp-for="OriginatorInitials" />
            <input type="hidden" asp-for="OriginatorYear" />
            <input type="hidden" asp-for="SerialNumber" />
            <input type="hidden" asp-for="CreatedUser" />
            <input type="hidden" asp-for="CreatedUserFullName" />
            <input type="hidden" asp-for="CreatedUserEmail" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="ModifiedUser" />
            <input type="hidden" asp-for="ModifiedUserFullName" />
            <input type="hidden" asp-for="ModifiedUserEmail" />
            <input type="hidden" asp-for="ModifiedDate" />
            <input type="hidden" asp-for="DeletedUser" />
            <input type="hidden" asp-for="DeletedUserFullName" />
            <input type="hidden" asp-for="DeletedUserEmail" />
            <input type="hidden" asp-for="DeletedDate" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">

        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group my-3">
                <label asp-for="Title" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @if (Model.Status == "Draft")
                {
                    @Html.TextAreaFor(model => model.Title, new {@class = "form-control", @rows = 3 })
                }
                else
                {
                    @Html.TextAreaFor(model => model.Title, new {@class = "form-control", @rows = 3, disabled="disabled" })
                    <input type="hidden" asp-for="Title" />

                }
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
@*             <div class="form-group my-3">
                <label asp-for="OriginatingGroup" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @if (Model.Status == "Draft")
                {
                    @Html.DropDownListFor(model => model.OriginatingGroup, new SelectList(ViewBag.OriginatingGroups, "Value", "Text"), "-- select --", new { @class="form-control form-select",@style="max-width:25%;"})
                }
                else
                {
                    @Html.DropDownListFor(model => model.OriginatingGroup, new SelectList(ViewBag.OriginatingGroups, "Value", "Text"), "-- select --", new { @class="form-control form-select",@style="max-width:25%;", disabled="disabled"})
                    <input type="hidden" asp-for="OriginatingGroup" />
                }
                <span asp-validation-for="OriginatingGroup" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="BouleSize" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @if (Model.Status == "Draft")
                {
                    @Html.DropDownListFor(model => model.BouleSize, new SelectList(ViewBag.BouleSizes, "Value", "Text"), "-- select --", new { @class="form-control form-select",@style="max-width:25%;"})
                }
                else
                {
                    @Html.DropDownListFor(model => model.BouleSize, new SelectList(ViewBag.BouleSizes, "Value", "Text"), "-- select --", new { @class="form-control form-select",@style="max-width:25%;", disabled="disabled"})
                    <input type="hidden" asp-for="BouleSize" />
                }
                <span asp-validation-for="BouleSize" class="text-danger"></span>
            </div> *@
            <div class="form-group my-3">
                <label asp-for="GroupApprover" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @if (Model.Status == "Draft")
                {
                    @Html.DropDownListFor(model => model.GroupApprover, new SelectList(ViewBag.Groups, "Value", "Text"), "-- select --", new { @class="form-control form-select"})
                }
                else
                {
                    @Html.DropDownListFor(model => model.GroupApprover, new SelectList(ViewBag.Groups, "Value", "Text"), "-- select --", new { @class="form-control form-select", disabled="disabled"})
                    <input type="hidden" asp-for="GroupApprover" />
                }
                <span asp-validation-for="GroupApprover" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="PtrNumber" class="control-label fw-bold mb-1"></label>
                <input asp-for="PtrNumber" class="form-control" />
                <span asp-validation-for="PtrNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group my-3">
                <label asp-for="SubjectType" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                <i class="bi bi-info-circle-fill" style="color:blue;" data-bs-toggle="tooltip" data-bs-html="true" title="If multiple select, hold down 'Ctrl' key and select/click one or more. To de-select, hold down 'Ctrl' and select the one to remove from selection">
                </i>
                @if (Model.Status == "Draft")
                {
                    @Html.ListBoxFor(model => model.SubjectType, new MultiSelectList(ViewBag.SubjectTypes,"Value","Text", Model.SubjectType), new { @class="form-control chosen-select", multiple=true, data_placeholder = "Select User(s)", size=10 })
                }
                else
                {
                    @Html.ListBoxFor(model => model.SubjectType, new MultiSelectList(ViewBag.SubjectTypes,"Value","Text", Model.SubjectType), new { @class="form-control chosen-select", multiple=true, data_placeholder = "Select User(s)", size=10, disabled="disabled" })
                    @for(int i = 0; i < Model.SubjectType.Count; i++) {
                        @Html.HiddenFor(Model => Model.SubjectType[i])
                    }
                    //<input type="hidden" asp-for="SubjectType" />                    
                }
                <span asp-validation-for="SubjectType" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group my-3">
                <label asp-for="Comments" class="control-label fw-bold mb-1"></label>
                @* <input asp-for="Roadblocks" class="form-control" style="max-width:100%;" /> *@
                @Html.TextAreaFor(model => model.Comments, new {@class = "form-control", @rows = 3 })
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group mt-4">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="mx-1 btn btn-secondary" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
