@model PtnWaiver.Models.PTN

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-4">
        <h1>PTN</h1>
        <h4>Edit</h4>
    </div>
    <div class="col-8 text-end">
        <h4>
            <span class="fw-bold">
                @Html.DisplayFor(model => model.DocId)
            </span>
        </h4>
        <h4>
            @Html.DisplayNameFor(model => model.Status):
            <span class="text-success fw-bold">
                @Html.DisplayFor(model => model.Status)
            </span>
        </h4>
    </div>
</div>

<hr />
<form asp-action="Edit">
    <div class="row my-4">
        <div class="col-12">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="mx-2 btn btn-secondary" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger fw-bold" })
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DocId" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="CreatedUser" />
            <input type="hidden" asp-for="CreatedUserFullName" />
            <input type="hidden" asp-for="CreatedUserEmail" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="ModifiedUser" />
            <input type="hidden" asp-for="ModifiedUserFullName" />
            <input type="hidden" asp-for="ModifiedUserEmail" />
            <input type="hidden" asp-for="ModifiedDate" />
            <input type="hidden" asp-for="DeletedUser" />
            <input type="hidden" asp-for="DeletedUserFullName" />
            <input type="hidden" asp-for="DeletedUserEmail" />
            <input type="hidden" asp-for="DeletedDate" />
            <div class="form-group my-3">
                <label asp-for="PtnPin" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @* <input asp-for="PtnPin" class="form-control" style="max-width:25%;" /> *@
                @Html.DropDownListFor(model => model.PtnPin, new SelectList(ViewBag.PtnPins, "Value", "Text"), "-- select --", new { @class="form-control form-select",@style="max-width:25%;"})
                <span asp-validation-for="PtnPin" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="SubjectType" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @* <input asp-for="SubjectType" class="form-control" style="max-width:25%;" /> *@
                @Html.DropDownListFor(model => model.SubjectType, new SelectList(ViewBag.SubjectTypes, "Value", "Text"), "-- select --", new { @class="form-control form-select",@style="max-width:25%;"})
                <span asp-validation-for="SubjectType" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="GroupApprover" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @* <input asp-for="Group" class="form-control" style="max-width:25%;" /> *@
                @Html.DropDownListFor(model => model.GroupApprover, new SelectList(ViewBag.Groups, "Value", "Text"), "-- select --", new { @class="form-control form-select",@style="max-width:25%;"})
                <span asp-validation-for="GroupApprover" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="PtrNumber" class="control-label fw-bold mb-1"></label>
                <input asp-for="PtrNumber" class="form-control" style="max-width:25%;" />
                <span asp-validation-for="PtrNumber" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Title" class="control-label fw-bold mb-1"></label>
                <i class="bi bi-r-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Required"></i>
                @Html.TextAreaFor(model => model.Title, new {@class = "form-control", @rows = 3 })
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Comments" class="control-label fw-bold mb-1"></label>
                @* <input asp-for="Roadblocks" class="form-control" style="max-width:100%;" /> *@
                @Html.TextAreaFor(model => model.Comments, new {@class = "form-control", @rows = 3 })
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="mx-2 btn btn-secondary" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
