@model Management_of_Change.ViewModels.ChangeRequestViewModel

<div class="tab-pane fade show @Model.TabActiveAttachments" id="nav-attachments" role="tabpanel" aria-labelledby="nav-attachments-tab">
    <div class="text-nowrap mt-5">
        @*<h4 class="mt-5">Attachments</h4>*@
        @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
        @if (ViewBag.SourceScreen == "Dashboard")
        {
            @Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-secondary mt-1" })
        }
        else
        {
            @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary mt-1" })
        }

        <div class="mx-5">
            @using (Html.BeginForm("SaveFile", "ChangeRequests", new { id = Model.ChangeRequest.Id }, FormMethod.Post, false, new { enctype = "multipart/form-data" }))
            {
                <div class="control-label fw-bold mt-5 mb-2">
                    <strong>Upload File to ChangeRequest:</strong>
                </div>
                <div class="form-group mb-3">
                    <div class="row">
                        <div class="col-10">
                            <input type="file" name="fileAttachment" class="form-control" />
                            <div class="form-group text-danger fw-bold">
                                @*<input asp-for="FileAttachmentError" class="form-control" />*@
                                @Html.DisplayFor(m => m.FileAttachmentError)
                            </div>
                        </div>
                        <div class="col-2">
                            <input type="submit" value="Upload" class="form-control btn btn-success">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <table class="table table-bordered table-striped mt-5 mx-5">
        <thead class="table-primary">
            <tr>
                <th>
                    File Name
                </th>
                <th>
                    Date Added
                </th>
                <th>
                    Size
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Attachments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @item.Size.ToString("#,##0") bytes
                        @* @Html.DisplayFor(modelItem => item.Size) *@
                    </td>
                    <td>
                        @*<a href="@item.FullPath" data-type="URL" target="_blank">View File</a>*@
                        @*<a asp-controller="ChangeRequests" asp-action="DisplayAttachment" asp-route-id="@item.Id">Edit</a>*@
                        @Html.ActionLink("Download File", "DownloadFile", "ChangeRequests", new { id = @Model.ChangeRequest.Id, fileName = item.Name, sourcePath = item.FullPath }, new { @class = "btn btn-secondary", title = "Download to Download Folder" })
                        @if (ViewBag.IsAdmin || ViewBag.Username == Model.ChangeRequest.Change_Owner)
                        {
                            @Html.ActionLink("Delete", "DeleteFile", "ChangeRequests", new { id = @Model.ChangeRequest.Id, fileName = item.Name, sourcePath = item.FullPath }, new { @class = "btn btn-danger", title = "Delete Attachment" })
                        }
                        @*<a asp-controller="ImplementationFinalApprovalResponses" asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (ViewBag.SourceScreen == "Dashboard")
    {
        @Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-secondary mt-4" })
    }
    else
    {
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary mt-4" })
    }
</div>