@model Management_of_Change.ViewModels.ChangeRequestViewModel

<div class="tab-pane fade show @Model.TabActiveFinalApprovals" id="nav-final-approvals" role="tabpanel" aria-labelledby="nav-final-approvals-tab">
    <div class="text-nowrap mt-5">
        @if (ViewBag.SourceScreen == "Dashboard")
        {
            @Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-secondary mt-1" })
        }
        else
        {
            @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary mt-1" })
        }
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped mt-3 ">
            <thead class="table-primary">
                <tr>
                    <th>
                        Change Type
                    </th>
                    <th>
                        Final Review Type
                    </th>
                    <th>
                        Reviewer
                    </th>
                    <th class="text-center" style="width: 5%;">
                        Review Completed
                    </th>
                    <th class="text-center" style="width: 5%;">
                        Date Completed
                    </th>
                    <th>
                        Review Result
                    </th>
                    <th>
                        Comment
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ChangeRequest.ImplementationFinalApprovalResponses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChangeType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FinalReviewType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reviewer)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ReviewCompleted)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.DateCompleted, "yyyy/MM/dd")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReviewResult)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td class="text-nowrap">
                            @if ((ViewBag.IsAdmin || ViewBag.Username == item.Username) && (Model.ChangeRequest.Change_Status == "FinalApprovals"))
                            {
                                if (item.ReviewCompleted != true)
                                {
                                    @Html.ActionLink("Review", "Edit", "ImplementationFinalApprovalResponses", new { id = @item.Id, tab = "FinalApprovals" }, new { @class = "btn btn-primary", title = "Must Fill Out 'Review Result' to be able to Complete Review" })
                                }
                                else
                                {
                                    @Html.ActionLink("Details", "Details", "ImplementationFinalApprovalResponses", new { id = @item.Id, tab = "FinalApprovals" }, new { @class = "btn btn-secondary" })
                                }
                                if (item.ReviewResult != null && item.ReviewResult != "" && item.ReviewCompleted != true)
                                {
                                    @Html.ActionLink("Mark Complete", "CompleteFinalReview", "ChangeRequests", new { id = @item.Id, tab = "FinalApprovals" }, new { @class = "btn btn-success ms-2", title = "Must Fill Out 'Review Result' to be able to Complete Review", onclick = "return DisplayProgressMessage(this, 'Processing...');" })
                                }
                            }
                            else
                            {
                                @Html.ActionLink("Details", "Details", "ImplementationFinalApprovalResponses", new { id = @item.Id, tab = "FinalApprovals" }, new { @class = "btn btn-secondary" })
                            }
                            @if ((ViewBag.IsAdmin) && (Model.ChangeRequest.Change_Status == "FinalApprovals") && (item.ReviewCompleted != true))
                            {
                                <span>
                                    @Html.ActionLink("Send Reminder", "FinalApprovalReminder", "ChangeRequests", new { id = @item.Id, tab = "FinalApprovals" }, new { @class = "btn btn-info", onclick = "return DisplayProgressMessage(this, 'Sending...');" })
                                </span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (ViewBag.SourceScreen == "Dashboard")
    {
        @Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-secondary mt-1" })
    }
    else
    {
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary mt-1" })
    }
</div>