@model PtnWaiver.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-3 d-flex justify-content-center align-items-end mb-3">
        <div>
            @*<a asp-action="Create">Create New</a>*@
            @Html.ActionLink("Create New PTN", "Create", "PTNs", new { source = "Home" }, new { @class = "btn btn-success" })
        </div>
    </div>
    <div class="col-6">
        <div class="text-center">
            @*<h1 class="display-4">DASHBOARD</h1>*@
            <p>Process Test Notification dashboard for user: <span class="text-danger fw-bold">@ViewBag.UserDisplayName - (@ViewBag.Username)</span></p>
        </div>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-end mb-3">
        @* @Html.ActionLink("Create New Task","Create","Tasks",new {source="Home"},new {@class="btn btn-primary"}) *@
    </div>
</div>
@* @{
    var columnSpace = "";
}
@if (ViewBag.IsAdmin)
{
    columnSpace = "col-lg-3";
}
else
{
    columnSpace = "col-lg-6";
} *@
@{
    var columnSpace = "col-lg-3";
}
<div class="row">
    <div class="@columnSpace p-3">
        <div class="row">
            <div class="col-12 border border-dark">
                <div class="my-3">
                    <span class="flex-md-nowrap">
                        <div class="text-center" style="font-weight:500; font-size: 1.25rem; line-height: 1.2;">
                            <span>
                                Your Active PTNs
                            </span>
                            <i class="bi bi-info-circle ms-2" data-bs-toggle="tooltip" data-bs-html="true" title="All 'Draft', 'Pending Approval' and 'Approved' status PTNs will display.">
                            </i>
                        </div>
                    </span>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped mt-3 ">
                            <thead class="align-top align-text-top table-primary">
                                <tr>
                                    <th class="text-nowrap">
                                        Status
                                    </th>
                                    <th class="text-nowrap">
                                        PTN Doc Id
                                    </th>
                                    <th class="">
                                        Title/Description
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.YourInProgressPtns)
                                {
                                    var color = "";
                                    if (item.Status == "Draft")
                                    {
                                        color = "text-warning fw-bold";
                                    }
                                    else if (item.Status == "Pending Approval")
                                    {
                                        color = "text-primary fw-bold";
                                    }
                                    else if (item.Status == "Approved")
                                    {
                                        color = "text-success fw-bold";
                                    }
                                    <tr>
                                        <td class="@color">
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td class="text-nowrap">
                                            @Html.ActionLink(item.DocId, "Details", "PTNs", new { id = @item.Id, tab = "Details", sourceScreen = "Dashboard" }, new { @class = "" })
                                        </td>
                                        <td class="">
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            @if (Model.YourInProgressPtns.Count() == 0)
                            {
                                <tr>
                                    <td>No data found</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="@columnSpace p-3">
        <div class="row">
            <div class="col-12 border border-dark">
                <div class="my-3">
                    <span class="flex-md-nowrap">
                        <div class="text-center" style="font-weight:500; font-size: 1.25rem; line-height: 1.2;">
                            <span>
                                Your Active Waivers
                            </span>
                            <i class="bi bi-info-circle ms-2" data-bs-toggle="tooltip" data-bs-html="true" title="All 'Draft', 'Pending Approval' and 'Approved' status PTNs will display.">
                            </i>
                        </div>
                    </span>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped mt-3 ">
                            <thead class="align-top align-text-top table-primary">
                                <tr>
                                    <th class="text-nowrap">
                                        Status
                                    </th>
                                    <th class="text-nowrap">
                                        Waiver Number
                                    </th>
                                    <th class="">
                                        Title/Description
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.YourInProgressWaivers)
                                {
                                    var color = "";
                                    if (item.Status == "Draft")
                                    {
                                        color = "text-warning fw-bold";
                                    }
                                    else if (item.Status == "Pending Approval")
                                    {
                                        color = "text-primary fw-bold";
                                    }
                                    else if (item.Status == "Approved")
                                    {
                                        color = "text-success fw-bold";
                                    }
                                    <tr>
                                        <td class="@color">
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td class="text-nowrap">
                                            @Html.ActionLink(item.WaiverNumber, "Details", "Waivers", new { id = @item.Id, tab = "Details", sourceScreen = "Dashboard" }, new { @class = "" })
                                        </td>
                                        <td class="">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            @if (Model.YourInProgressWaivers.Count() == 0)
                            {
                                <tr>
                                    <td>No data found</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*     @if (ViewBag.IsAdmin)
    { *@
        <div class="col-lg-3 p-3">
            <div class="row">
                <div class="col-12 border border-dark">
                    <div class="my-3">
                        <span class="flex-lg-nowrap">
                            <div class="text-center" style="font-weight:500; font-size: 1.25rem; line-height: 1.2;">
                                <span>
                                    PTNs Pending Your Approval
                                </span>
                            </div>
                        </span>
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped mt-3 ">
                                    <thead class="align-top align-text-top table-primary">
                                        <tr>
                                            <th class="text-nowrap">
                                                PTN Doc Id
                                            </th>
                                            <th class="text-nowrap">
                                                Title/Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PtnsAwaitingYourApproval)
                                        {
                                            <tr>
                                                <td class="text-nowrap">
                                                    @Html.ActionLink(item.DocId, "Details", "PTNs", new { id = @item.Id, tab = "Details", sourceScreen = "Dashboard" }, new { @class = "" })
                                                </td>
                                                <td class="text-nowrap">
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    @if (Model.PtnsAwaitingYourApproval.Count() == 0)
                                    {
                                        <tr>
                                            <td>No data found</td>
                                            <td></td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 p-3">
            <div class="row">
                <div class="col-12 border border-dark">
                    <div class="my-3">
                        <span class="flex-lg-nowrap">
                            <div class="text-center" style="font-weight:500; font-size: 1.25rem; line-height: 1.2;">
                                <span>
                                    Waivers Pending Your Approval
                                </span>
                            </div>
                        </span>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped mt-3 ">
                                <thead class="align-top align-text-top table-primary">
                                    <tr>
                                        <th class="text-nowrap">
                                            Waiver Number
                                        </th>
                                        <th class="text-nowrap">
                                            Title/Description
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.WaiversAwaitingYourApproval)
                                    {
                                        <tr>
                                            <td class="text-nowrap">
                                                @Html.ActionLink(item.WaiverNumber, "Details", "Waivers", new { id = @item.Id, tab = "Details", sourceScreen = "Dashboard" }, new { @class = "" })
                                            </td>
                                            <td class="text-nowrap">
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                @if (Model.WaiversAwaitingYourApproval.Count() == 0)
                                {
                                    <tr>
                                        <td>No data found</td>
                                        <td></td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
@*     } *@
</div>
<div class="row">
    <div class="col-12">
    </div>
</div>