@model Management_of_Change.ViewModels.PccbVM

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-6">
        <h1>PCCB Meetings</h1>
    </div>
    <div class="col-6 text-end">
        <h4>
            <span class="fw-bold">
                @ViewBag.ChangeRequest
            </span>
        </h4>
    </div>
</div>
<hr />

@***********************************************************************************************************************************************@
@** INVITEES                                                                                                                                  **@
@***********************************************************************************************************************************************@
<div class="mt-5">
    <span style="font-size: 1.7rem;  font-weight:600; line-height:1.2;">Invitees</span>
    <span>@Html.ActionLink("Add New", "Create", "PccbInvitees", new { pccbId = @Model?.PCCB.Id, tab = "Details" }, new { @class = "btn btn-success align-middle ms-2 mb-2" })</span>
    @Html.ActionLink("Back", "Details", "ChangeRequests", new { id = @Model?.PCCB.ChangeRequestId, tab = "PccbReview" }, new { @class = "btn btn-secondary ms-2 mb-2" })
</div>
<div class="ms-5">
    <table class="table table-striped table-bordered mt-2">
        <thead class="table-primary">
            <tr>
                @if (ViewBag.IsAdmin)
                {
                    <th></th>
                }
                <th>
                    Name
                </th>
                <th>
                    Title
                </th>
                <th>
                    Email
                </th>
                <th>
                    Status
                </th>
                @if (ViewBag.IsAdmin)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PCCB.Invitees)
            {
                var color = "";
                if (item.Status == "Invited")
                {
                    color = "text-secondary fw-bold";
                }
                else if (item.Status == "Declined")
                {
                    color = "text-primary fw-bold";
                }
                else if (item.Status == "Attended")
                {
                    color = "text-success fw-bold";
                }
                else if (item.Status == "No Show")
                {
                    color = "text-danger fw-bold";
                }
                <tr>
                    @if (ViewBag.IsAdmin)
                    {
                        <td>

                            <a asp-action="delete" asp-controller="PccbInvitees" asp-route-id="@item.Id">
                                <i class="bi bi-file-minus-fill" style="color:red;" data-bs-toggle="tooltip" data-bs-html="true" title="Remove Invitee"></i>
                            </a>

                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="@color">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    @if (ViewBag.IsAdmin)
                    {
                        <td>
                            @if (item.Status != "Invited")
                            {
                                <a asp-action="Invited" asp-controller="PCCBs" asp-route-inviteeId="@item.Id" class="btn btn-secondary btn- btn-sm me-1">Invited</a>
                            }
                            else
                            {
                                <a asp-action="Invited" asp-controller="PCCBs" asp-route-inviteeId="@item.Id" class="btn btn-secondary btn-sm me-1 disabled">Invited</a>
                            }
                            @if (item.Status != "Attended")
                            {
                                <a asp-action="Attended" asp-controller="PCCBs" asp-route-inviteeId="@item.Id" class="btn btn-success btn-sm me-1">Attended</a>
                            }
                            else
                            {
                                <a asp-action="Attended" asp-controller="PCCBs" asp-route-inviteeId="@item.Id" class="btn btn-success btn-sm me-1 disabled">Attended</a>
                            }
                            @if (item.Status != "Declined")
                            {
                                <a asp-action="Declined" asp-controller="PCCBs" asp-route-inviteeId="@item.Id" class="btn btn-primary btn-sm me-1">Declined</a>
                            }
                            else
                            {
                                <a asp-action="Declined" asp-controller="PCCBs" asp-route-inviteeId="@item.Id" class="btn btn-primary btn-sm me-1 disabled">Declined</a>
                            }
                            @if (item.Status != "No Show")
                            {
                                <a asp-action="NoShow" asp-controller="PCCBs" asp-route-inviteeId="@item.Id" class="btn btn-danger btn-sm me-1">No Show</a>
                            }
                            else
                            {
                                <a asp-action="NoShow" asp-controller="PCCBs" asp-route-inviteeId="@item.Id" class="btn btn-danger btn-sm me-1 disabled">No Show</a>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
        @if (Model.PCCB.Invitees == null || Model.PCCB.Invitees.Count() == 0)
        {
            <tr>
                <td class="text-nowrap">No data found</td>
                @if (ViewBag.IsAdmin)
                {
                    <td></td>
                    <td></td>
                }
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </table>
</div>

@***********************************************************************************************************************************************@
@** DETAILS                                                                                                                                   **@
@***********************************************************************************************************************************************@
<div class="mt-5">
    <span style="font-size: 1.5rem;  font-weight:500; line-height:1.2;" class="me-1">Details</span>
    <a asp-action="Details" asp-controller="PCCBs" asp-route-id="@Model.PCCB.Id" asp-route-destinationPage="ManageMeeting" class="btn btn-primary ms-2 mb-2" target="_blank">Manage Meeting</a>
    @Html.ActionLink("Back", "Details", "ChangeRequests", new { id = @Model?.PCCB.ChangeRequestId, tab = "PccbReview" }, new { @class = "btn btn-secondary ms-2 mb-2" })
</div>
<div class="ms-5">
    @*     <div class="row">
    <div class="col-12">

    </div>
    </div> *@
    <div class="row">
        <div class="col-6">
            <div class="form-group my-1">
                <label asp-for="PCCB.Title" class="control-label fw-bold mb-1"></label>
                @Html.TextAreaFor(model => model.PCCB.Title, new { @class = "form-control", @rows = 3, @readonly = true })
                @*<input asp-for="Title_Change_Description" class="form-control" />*@
                <span asp-validation-for="PCCB.Title" class="text-danger fw-bold"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="PCCB.Agenda" class="control-label fw-bold mb-1"></label>
                @Html.TextAreaFor(model => model.PCCB.Agenda, new { @class = "form-control", @rows = 15, @readonly = true })
                @*<input asp-for="Title_Change_Description" class="form-control" />*@
                <span asp-validation-for="PCCB.Agenda" class="text-danger fw-bold"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group my-1">
                <label asp-for="PCCB.MeetingDateTime" class="control-label fw-bold mb-1"></label>
                <input asp-for="PCCB.MeetingDateTime" class="form-control" onclick="this.showPicker()" readonly="true" />
                <span asp-validation-for="PCCB.MeetingDateTime" class="text-danger fw-bold"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="PCCB.Step" class="control-label fw-bold mb-1"></label>
                <input asp-for="PCCB.Step" class="form-control" readonly="true" />
                <span asp-validation-for="PCCB.Step" class="text-danger fw-bold"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="PCCB.Status" class="control-label fw-bold mb-1"></label>
                @Html.TextBoxFor(model => model.PCCB.Status, new { @class = "form-control form-select", @readonly = true })
                @*                 @Html.DropDownListFor(model => model.Status,
                new List<SelectListItem>{
                new SelectListItem {Value="Open", Text="Open"},
                new SelectListItem {Value="Closed", Text="Closed"}},
                new { @class = "form-control form-select", @readonly = true }) *@
                <span asp-validation-for="PCCB.Status" class="text-danger fw-bold"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="PCCB.NotificationList" class="control-label fw-bold mb-1"></label>
                @Html.TextBoxFor(model => model.PCCB.NotificationList, new { @class = "form-control form-select", @readonly = true })
                <span asp-validation-for="PCCB.NotificationList" class="text-danger fw-bold mt-1"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="PCCB.Decisions" class="control-label fw-bold mb-1"></label>
                @Html.TextAreaFor(model => model.PCCB.Decisions, new { @class = "form-control", @rows = 3, @readonly = true })
                @*<input asp-for="Title_Change_Description" class="form-control" />*@
                <span asp-validation-for="PCCB.Decisions" class="text-danger fw-bold"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="PCCB.ActionItems" class="control-label fw-bold mb-1"></label>
                @Html.TextAreaFor(model => model.PCCB.ActionItems, new { @class = "form-control", @rows = 3, @readonly = true })
                @*<input asp-for="Title_Change_Description" class="form-control" />*@
                <span asp-validation-for="PCCB.ActionItems" class="text-danger fw-bold"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group my-1">
                <label asp-for="PCCB.Notes" class="control-label fw-bold mb-1"></label>
                @Html.TextAreaFor(model => model.PCCB.Notes, new { @class = "form-control", @rows = 3, @readonly = true })
                @*<input asp-for="Title_Change_Description" class="form-control" />*@
                <span asp-validation-for="PCCB.Notes" class="text-danger fw-bold"></span>
            </div>
        </div>
    </div>
</div>

@******************************************************************************************************************@
@*  ATTACHMENTS TAB  **********************************************************************************************@
@******************************************************************************************************************@
<div class="mt-5">
    <span style="font-size: 1.7rem;  font-weight:600; line-height:1.2;">Attachments</span>
    @*     @if (ViewBag.IsAdmin)
    {
    <span>@Html.ActionLink("Add New", "Create", "PccbInvitees", new { pccbId = @Model?.PCCB.Id, tab = "Details" }, new { @class = "btn btn-success align-middle ms-2 mb-2" })</span>
    } *@
    <a asp-action="Details" asp-controller="PCCBs" asp-route-id="@Model.PCCB.Id" asp-route-destinationPage="ManageAttachments" class="btn btn-primary ms-2 mb-2" target="_blank">Manage Attachments</a>
    @Html.ActionLink("Back", "Details", "ChangeRequests", new { id = @Model?.PCCB.ChangeRequestId, tab = "PccbReview" }, new { @class = "btn btn-secondary ms-1 mb-2" })
</div>
<div class="ms-5">
    <table class="table table-bordered table-striped mt-3">
        <thead class="table-primary">
            <tr>
                <th>
                    File Name
                </th>
                <th>
                    Date Added
                </th>
                <th>
                    Size
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Attachments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @*<a href="@item.FullPath" data-type="URL" target="_blank">View File</a>*@
                        @*<a asp-controller="ChangeRequests" asp-action="DisplayAttachment" asp-route-id="@item.Id">Edit</a>*@
                        @Html.ActionLink("Download File", "DownloadFile", "PCCBs", new { id = @Model.PCCB.Id, fileName = item.Name, sourcePath = item.FullPath }, new { @class = "btn btn-secondary", title = "Download to Download Folder" })
                        @*<a asp-controller="ImplementationFinalApprovalResponses" asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@
                    </td>
                </tr>
            }
        </tbody>
        @if (Model.Attachments == null || Model.Attachments.Count() == 0)
        {
            <tr>
                <td class="text-nowrap">No data found</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </table>
</div>
@* @Html.ActionLink("Back", "Details", "ChangeRequests", new { id = @Model?.PCCB.ChangeRequestId, tab = "PccbReview" }, new { @class = "btn btn-secondary mt-3" }) *@