@model Management_of_Change.Models.PCCB

@{
    ViewData["Title"] = "Details";
}

<h1>PCCB Meeting</h1>


<h4 class="mt-4">Details</h4>
<hr />
@if (ViewBag.IsAdmin)
{
    @Html.ActionLink("Edit", "PCCBs", new { id = @Model?.Id, tab = "Details" }, new { @class = "btn btn-primary align-middle me-1" })
}
@Html.ActionLink("Back", "Details", "ChangeRequests", new { id = @Model?.ChangeRequestId, tab = "PccbReview" }, new { @class = "btn btn-secondary me-1" })
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MeetingDateTime)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MeetingDateTime)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Status)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Status)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Agenda)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Agenda)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Decisions)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Decisions)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ActionItems)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ActionItems)
    </dd>
</dl>
<div class="mt-4">
    @if (ViewBag.IsAdmin)
    {
        @Html.ActionLink("Edit", "PCCBs", new { id = @Model?.Id, tab = "Details" }, new { @class = "btn btn-primary align-middle me-1" })
    }
    @Html.ActionLink("Back", "Details", "ChangeRequests", new { id = @Model?.ChangeRequestId, tab = "PccbReview" }, new { @class = "btn btn-secondary me-1" })
</div>
<hr />
<h4 class="mt-5">Invitees</h4>
<table class="table table-striped table-bordered mt-2">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Title
            </th>
            <th>
                Email
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Invitees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (ViewBag.IsAdmin)
                    {
                        if (item.Status != "Invited")
                        {
                            <a asp-action="Invited" asp-controller="PCCBs" asp-route-inviteeId="@item.Id" class="btn btn-secondary me-1">Invited</a>
                        }
                        if (item.Status != "Attended")
                        {
                            <a asp-action="Attended" asp-controller="PCCBs" asp-route-inviteeId="@item.Id" class="btn btn-success me-1">Attended</a>
                        }
                        if (item.Status != "Declined")
                        {
                            <a asp-action="Declined" asp-controller="PCCBs" asp-route-inviteeId="@item.Id" class="btn btn-primary me-1">Declined</a>
                        }
                        if (item.Status != "No Show")
                        {
                            <a asp-action="NoShow" asp-controller="PCCBs" asp-route-inviteeId="@item.Id" class="btn btn-danger me-1">No Show</a>
                        }                        
                    }
                </td>
            </tr>
        }
    </tbody>
    @if (Model.Invitees == null || Model.Invitees.Count() == 0)
    {
        <tr>
            <td class="text-nowrap">No data found</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
</table>


