@model IEnumerable<Management_of_Change.Models.ImplementationFinalApprovalMatrix>

@{
    ViewData["Title"] = "Index";
}

<h1>Implementation Final Approval Matrix</h1>

<form asp-controller="ImplementationFinalApprovalMatrices" asp-action="IndexHelp">
    <div class="row mt-5 mb-3">
        <div class="col-8">
            @* <a asp-action="Create">Create New</a> *@
            <span class=""><a asp-controller="Help" asp-action="Index" class="btn btn-secondary">Back</a></span>
        </div>        
        <div class="col-1 text-end fw-bold mt-2">
            Change Type
        </div>
        <div class="col-2 text-end">
            @Html.DropDownList("changeTypeFilter", new SelectList(ViewBag.ChangeTypes),"All", new {@class = "form-control form-select", @id="changeTypeFilter"})
        </div>
        <div class="col-1 text-start">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>
<table class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChangeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalReviewType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewerName)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.CreatedUser)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.ModifiedUser)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.DeletedUser)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.DeletedDate)
            </th>*@
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChangeType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalReviewType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewerName)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.CreatedUser)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.ModifiedUser)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.DeletedUser)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.DeletedDate)
            </td>*@
                @*                 <td class="text-nowrap">
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
            </tr>
        }
    </tbody>
</table>
