@model Management_of_Change.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-3 d-flex justify-content-center align-items-end mb-3">
        <div>
            @*<a asp-action="Create">Create New</a>*@
            @Html.ActionLink("Create New Change Request","Create","ChangeRequests",new {source="Home"},new {@class="btn btn-success"})
        </div>
    </div>
    <div class="col-6">
        <div class="text-center">
            @*<h1 class="display-4">DASHBOARD</h1>*@
            <p>Management of Change Dashboard for user: <span class="text-danger fw-bold">@ViewBag.UserDisplayName</span></p>
        </div>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-end mb-3">
        @Html.ActionLink("Create New Task","Create","Tasks",new {source="Home"},new {@class="btn btn-success"})
    </div>
</div>
<div class="row">
    <div class="col-3 p-3">
        <div class="row">
            <div class="col-12 border border-dark">
                <div class="my-3">
                    <h5 class="text-center">
                        Your Draft MOCs
                    </h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped mt-3 ">
                            <thead class="align-top align-text-top table-primary">
                                <tr>
                                    <th class="text-nowrap">
                                        MOC #
                                        @*@Html.DisplayNameFor(model => model.MOC_Number)*@
                                    </th>
                                    <th class="text-nowrap">
                                        Title/Change Description
                                    </th>
                                    <th class="text-nowrap">
                                        Estimated Completion Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DraftMocs)
                                {
                                    <tr>
                                        <td class="text-nowrap">
                                            @Html.ActionLink(item.MOC_Number,"Details","ChangeRequests",new {id=@item.Id, tab="GeneralMocQuestions", sourceScreen="Dashboard"},new {@class=""})
                                            @*@Html.DisplayFor(modelItem => item.MOC_Number) (ID: @Html.DisplayFor(modelItem => item.Id))*@
                                        </td>
                                        <td class="text-nowrap">
                                            @if (item.Priority == "High")
                                            {
                                                <i class="bi bi-exclamation-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs- html="true" title="High Priority"></i>
                                            }

                                            @Html.DisplayFor(modelItem => item.Title_Change_Description)
                                        </td>
                                        @if (DateTime.Now > item.Estimated_Completion_Date && item.Cancel_Date == null && item.Closeout_Date == null)
                                        {
                                            <td class="fw-bolder text-danger">
                                                @Html.DisplayFor(modelItem => item.Estimated_Completion_Date)
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Estimated_Completion_Date)
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            @if (Model.DraftMocs.Count() == 0)
                            {
                                <tr>
                                    <td class="text-nowrap">No data found</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-3 p-3">
        <div class="row">
            <div class="col-12 border border-dark">
                <div class="my-3">
                    <h5 class="text-center">
                        Your Open Impact Assessment MOCs
                    </h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped mt-3 ">
                            <thead class="align-top align-text-top table-primary">
                                <tr>
                                    <th class="text-nowrap">
                                        MOC #
                                        @*@Html.DisplayNameFor(model => model.MOC_Number)*@
                                    </th>
                                    <th class="text-nowrap">
                                        Title/Change Description
                                    </th>
                                    <th class="text-nowrap">
                                        Estimated Completion Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.IncompleteImpactAssessments)
                                {
                                    <tr>
                                        <td class="text-nowrap">
                                            @Html.ActionLink(item.MOC_Number,"Details","ChangeRequests",new {id=@item.Id, tab="ImpactAssessments", sourceScreen="Dashboard"},new {@class=""})
                                            @*@Html.DisplayFor(modelItem => item.MOC_Number) (ID: @Html.DisplayFor(modelItem => item.Id))*@
                                        </td>
                                        <td class="text-nowrap">
                                            @if (item.Priority == "High")
                                            {
                                                <i class="bi bi-exclamation-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs- html="true" title="High Priority"></i>
                                            }
                                            @Html.DisplayFor(modelItem => item.Title_Change_Description)
                                        </td>
                                        @if (DateTime.Now > item.Estimated_Completion_Date && item.Cancel_Date == null && item.Closeout_Date == null)
                                        {
                                            <td class="fw-bolder text-danger">
                                                @Html.DisplayFor(modelItem => item.Estimated_Completion_Date)
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Estimated_Completion_Date)
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            @if (Model.IncompleteImpactAssessments.Count() == 0)
                            {
                                <tr>
                                    <td class="text-nowrap">No data found</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 p-3">
        <div class="row">
            <div class="col-12 border border-dark">
                <div class="my-3">
                    <h5 class="text-center">
                        Your Open Final Approval MOCs
                    </h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped mt-3 ">
                            <thead class="align-top align-text-top table-primary">
                                <tr>
                                    <th class="text-nowrap">
                                        MOC #
                                    </th>
                                    <th class="text-nowrap">
                                        Title/Change Description
                                    </th>
                                    <th class="text-nowrap">
                                        Estimated Completion Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.IncompleteFinalApprovals)
                                {
                                    <tr>
                                        <td class="text-nowrap">
                                            @Html.ActionLink(item.MOC_Number,"Details","ChangeRequests",new {id=@item.Id, tab="FinalApprovals", sourceScreen="Dashboard"},new {@class=""})
                                            @*@Html.DisplayFor(modelItem => item.MOC_Number) (ID: @Html.DisplayFor(modelItem => item.Id))*@
                                        </td>
                                        <td class="text-nowrap">
                                            @if (item.Priority == "High")
                                            {
                                                <i class="bi bi-exclamation-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs- html="true" title="High Priority"></i>
                                            }
                                            @Html.DisplayFor(modelItem => item.Title_Change_Description)
                                        </td>
                                        @if (DateTime.Now > item.Estimated_Completion_Date && item.Cancel_Date == null && item.Closeout_Date == null)
                                        {
                                            <td class="fw-bolder text-danger">
                                                @Html.DisplayFor(modelItem => item.Estimated_Completion_Date)
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Estimated_Completion_Date)
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            @if (Model.IncompleteFinalApprovals.Count() == 0)
                            {
                                <tr>
                                    <td class="text-nowrap">No data found</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 p-3">
        <div class="row">
            <div class="col-12 border border-dark">
                <div class="my-3">
                    <h5 class="text-center">
                        Your Open MOC Tasks
                    </h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped mt-3 ">
                            <thead class="align-top align-text-top table-primary">
                                <tr>
                                    <th class="text-nowrap">
                                        Task #
                                        @*@Html.DisplayNameFor(model => model.MOC_Number)*@
                                    </th>
                                    <th class="text-nowrap">
                                        Title/Short Description
                                    </th>
                                    <th class="text-nowrap">
                                        Due Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OpenTasks)
                                {
                                    <tr>
                                        <td class="text-nowrap">
                                            @Html.ActionLink("Task# " + item.Id.ToString(),"Details","Tasks",new {id=@item.Id, tab="FinalApprovals", sourceScreen="Dashboard"},new {@class=""})
                                            @*@Html.DisplayFor(modelItem => item.MOC_Number) (ID: @Html.DisplayFor(modelItem => item.Id))*@
                                        </td>
                                        <td class="text-nowrap">
                                            @if (item.Priority == "High")
                                            {
                                                <i class="bi bi-exclamation-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs- html="true" title="High Priority"></i>
                                            }
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        @if (DateTime.Now > item.DueDate && item.Status == "Open")
                                        {
                                            <td class="fw-bolder text-danger">
                                                @Html.DisplayFor(modelItem => item.DueDate)
                                            </td>
                                        }
                                        else if (DateTime.Now > item.DueDate && item.Status == "In-Progress")
                                        {
                                            <td class="fw-bolder text-danger">
                                                @Html.DisplayFor(modelItem => item.DueDate)
                                            </td>
                                        }
                                        else if (DateTime.Now > item.DueDate && item.Status == "On Hold")
                                        {
                                            <td class="fw-bolder text-danger">
                                                @Html.DisplayFor(modelItem => item.DueDate)
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DueDate)
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            @if (Model.OpenTasks.Count() == 0)
                            {
                                <tr>
                                    <td>No data found</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3 p-3">
        <div class="row mt-1">
            <div class="col-12 border border-dark">
                <div class="my-3">
                    <h5 class="text-center">
                        Your Change Grade Reviews
                    </h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped mt-3 ">
                            <thead class="align-top align-text-top table-primary">
                                <tr>
                                    <th class="text-nowrap">
                                        MOC #
                                        @*@Html.DisplayNameFor(model => model.MOC_Number)*@
                                    </th>
                                    <th class="text-nowrap">
                                        Title/Change Description
                                    </th>
                                    <th class="text-nowrap">
                                        Estimated Completion Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ChangeGradeReviews)
                                {
                                    <tr>
                                        <td class="text-nowrap">
                                            @Html.ActionLink(item.MOC_Number, "Details", "ChangeRequests", new { id = @item.Id, tab = "ChangeGradeReview", sourceScreen = "Dashboard" }, new { @class = "" })
                                            @*@Html.DisplayFor(modelItem => item.MOC_Number) (ID: @Html.DisplayFor(modelItem => item.Id))*@
                                        </td>
                                        <td class="text-nowrap">
                                            @if (item.Priority == "High")
                                            {
                                                <i class="bi bi-exclamation-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs- html="true" title="High Priority"></i>
                                            }

                                            @Html.DisplayFor(modelItem => item.Title_Change_Description)
                                        </td>
                                        @if (DateTime.Now > item.Estimated_Completion_Date && item.Cancel_Date == null && item.Closeout_Date == null)
                                        {
                                            <td class="fw-bolder text-danger">
                                                @Html.DisplayFor(modelItem => item.Estimated_Completion_Date)
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Estimated_Completion_Date)
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            @if (Model.ChangeGradeReviews.Count() == 0)
                            {
                                <tr>
                                    <td class="text-nowrap">No data found</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 p-3">
        <div class="row mt-1">
            <div class="col-12 border border-dark">
                <div class="my-3">
                    <h5 class="text-center">
                        Open PCCB Reviews
                    </h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped mt-3 ">
                            <thead class="align-top align-text-top table-primary">
                                <tr>
                                    <th class="text-nowrap">
                                        MOC #
                                        @*@Html.DisplayNameFor(model => model.MOC_Number)*@
                                    </th>
                                    <th class="text-nowrap">
                                        Title/Change Description
                                    </th>
                                    <th class="text-nowrap">
                                        Estimated Completion Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.IncompletePccbReviews)
                                {
                                    <tr>
                                        <td class="text-nowrap">
                                            @Html.ActionLink(item.MOC_Number, "Details", "ChangeRequests", new { id = @item.Id, tab = "PccbReview", sourceScreen = "Dashboard" }, new { @class = "" })
                                            @*@Html.DisplayFor(modelItem => item.MOC_Number) (ID: @Html.DisplayFor(modelItem => item.Id))*@
                                        </td>
                                        <td class="text-nowrap">
                                            @if (item.Priority == "High")
                                            {
                                                <i class="bi bi-exclamation-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs- html="true" title="High Priority"></i>
                                            }

                                            @Html.DisplayFor(modelItem => item.Title_Change_Description)
                                        </td>
                                        @if (DateTime.Now > item.Estimated_Completion_Date && item.Cancel_Date == null && item.Closeout_Date == null)
                                        {
                                            <td class="fw-bolder text-danger">
                                                @Html.DisplayFor(modelItem => item.Estimated_Completion_Date)
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Estimated_Completion_Date)
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            @if (Model.ChangeGradeReviews.Count() == 0)
                            {
                                <tr>
                                    <td class="text-nowrap">No data found</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
