@model Management_of_Change.Models.ImpactAssessmentResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Impact Assessment Response</h1>

<div>
    <div class="text-nowrap">
        <h4 class="mt-5">Details</h4>
@*        <a class="me-2" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a class="mx-2" asp-controller="ChangeRequests" asp-action="Details" asp-route-id="@Model?.ChangeRequestId">Back to Change Request</a>*@
        @Html.ActionLink("Edit","Edit",new {id=@Model?.Id, tab="IARDetails"},new {@class="btn btn-primary"})
        @Html.ActionLink("Back to Change Request","Details", "ChangeRequests", new {id=@Model?.ChangeRequestId, tab="ImpactAssessments"}, new {@class="btn btn-secondary"})
    </div>
    <hr />
    <dl class="row">
@*        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ChangeRequestId" />*@
        <dt class="col-sm-2 my-2 text-end">
            @Html.DisplayNameFor(model => model.ReviewType)
        </dt>
        <dd class="col-sm-4 my-2">
            @Html.DisplayFor(model => model.ReviewType)
        </dd>
        <dt class="col-sm-2 my-2 text-end">
            @Html.DisplayNameFor(model => model.CreatedUser)
        </dt>
        <dd class="col-sm-4 my-2">
            @Html.DisplayFor(model => model.CreatedUser)
        </dd>
        <dt class="col-sm-2 my-2 text-end">
            @Html.DisplayNameFor(model => model.ChangeType)
        </dt>
        <dd class="col-sm-4 my-2">
            @Html.DisplayFor(model => model.ChangeType)
        </dd>
        <dt class="col-sm-2 my-2 text-end">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-4 my-2">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2 my-2 text-end">
            @Html.DisplayNameFor(model => model.Reviewer)
        </dt>
        <dd class="col-sm-4 my-2">
            @Html.DisplayFor(model => model.Reviewer)
        </dd>
        <dt class="col-sm-2 my-2 text-end">
            @Html.DisplayNameFor(model => model.ModifiedUser)
        </dt>
        <dd class="col-sm-4 my-2">
            @Html.DisplayFor(model => model.ModifiedUser)
        </dd>
        <dt class="col-sm-2 my-2 text-end">
            @Html.DisplayNameFor(model => model.ReviewerEmail)
        </dt>
        <dd class="col-sm-4 my-2">
            @Html.DisplayFor(model => model.ReviewerEmail)
        </dd>
        <dt class="col-sm-2 my-2 text-end">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-4 my-2">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class="col-sm-2 my-2 text-end">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-4 my-2">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2 my-2 text-end">
            @Html.DisplayNameFor(model => model.DeletedUser)
        </dt>
        <dd class="col-sm-4 my-2">
            @Html.DisplayFor(model => model.DeletedUser)
        </dd>
        <dt class="col-sm-2 my-2 text-end">
            @Html.DisplayNameFor(model => model.ReviewCompleted)
        </dt>
        <dd class="col-sm-4 my-2">
            @Html.DisplayFor(model => model.ReviewCompleted)
        </dd>
        <dt class="col-sm-2 my-2 text-end">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class="col-sm-4 my-2">
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
        <dt class="col-sm-2 my-2 text-end">
            @Html.DisplayNameFor(model => model.DateCompleted)
        </dt>
        <dd class="col-sm-4 my-2">
            @Html.DisplayFor(model => model.DateCompleted)
        </dd>
        <dt class="col-sm-2 my-2 text-end"></dt>
        <dd class="col-sm-4 my-2"></dd>
        <dt class="col-sm-2 my-2 text-end">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10 my-2">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div class="text-nowrap my-3">
    @Html.ActionLink("Edit","Edit",new {id=@Model?.Id, tab="IARDetails"},new {@class="btn btn-primary"})
    @Html.ActionLink("Back to Change Request","Details", "ChangeRequests", new {id=@Model?.ChangeRequestId, tab="ImpactAssessments"}, new {@class="btn btn-secondary"})
</div>
<hr />
<div class="text-nowrap">
    <h4 class="mt-5">Impact Assessment Response Answers</h4>
    <div class="mt-4">
        @Html.ActionLink("Back to Change Request","Details", "ChangeRequests", new {id=@Model?.ChangeRequestId, tab="ImpactAssessments"}, new {@class="btn btn-secondary"})
    </div>
</div>
<table class="table table-bordered table-striped mt-3">
    <thead class="table-primary">
        <tr class="table-primary">
@*            <th>
                Impact Assessment Response Id
            </th>
            <th>
                Impact Assessment Response Answer Id
            </th>*@
            <th>
                Review Type
            </th>
            <th>
                Question
            </th>
@*            <th>
                Order
            </th>*@
            <th>
                Action
            </th>
            <th>
                Title/Short Description
            </th>
@*            <th>
                Details Of ActionNeeded
            </th>*@
            <th>
                Pre Or Post Implementation
            </th>
            <th>
                Action Owner
            </th>
            <th>
                Date Due
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ImpactAssessmentResponseAnswers)
        {
            <tr>
@*                <td>
                    @Html.DisplayFor(modelItem => item.ImpactAssessmentResponseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
@*                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
@*                <td>
                    @Html.DisplayFor(modelItem => item.DetailsOfActionNeeded)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.PreOrPostImplementation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionOwner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDue)
                </td>
                <td class="text-nowrap">
                    @Html.ActionLink("Edit","Edit", "ImpactAssessmentResponseAnswers", new {id=@item.Id, tab=""}, new {@class="btn btn-primary"})
                    @Html.ActionLink("Details","Details", "ImpactAssessmentResponseAnswers", new {id=@item.Id, tab=""}, new {@class="btn btn-secondary"})
                    @if(item.Task != null)
                    {
                        @Html.ActionLink("Task","Details", "Tasks", new {id=@item.Task.Id, tab=""}, new {@class="btn btn-secondary"})
                    }                    
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Back to Change Request","Details", "ChangeRequests", new {id=@Model?.ChangeRequestId, tab="ImpactAssessments"}, new {@class="btn btn-secondary"})

