@model IEnumerable<Management_of_Change.Models.ImpactAssessmentResponse>

@{
    ViewData["Title"] = "Index";
}

<h1>Impact Assessment Responses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reviewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChangeType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChangeArea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reviewer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewCompleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCompleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td class="text-nowrap">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
