@model IEnumerable<Management_of_Change.Models.ImpactAssessmentMatrix>

@{
    ViewData["Title"] = "Index";
}

<h1>Impact Assessment Matrix</h1>

<p class="mt-5">
    @* <a asp-action="Create">Create New</a> *@
    <span class=""><a asp-controller="Help" asp-action="Index" class="btn btn-secondary">Previous</a></span>
</p>
<table class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChangeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewerName)
            </th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChangeType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewerName)
                </td>
@*                 <td class="text-nowrap">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>
