@model IEnumerable<Management_of_Change.Models.ImpactAssessmentMatrix>

@{
    ViewData["Title"] = "Index";
}

<h1>Impact Assessment Matrix</h1>

<div class="row mt-5 mb-3">
    <div class="col-8">
        <a asp-action="Create" class="btn btn-success">Create New</a>
        <span class="mx-2"><a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Back</a></span>
    </div>
    <div class="col-4">
        @* <i class="bi bi-binoculars-fill" data-bs-toggle="tooltip" data-bs-html="true"></i> *@
        <input class="form-control" id="changeTypeSearch" type="text" placeholder="Search..">
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChangeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="impactAssessmentMatrixTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChangeType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewerName)
                </td>
                <td class="text-nowrap">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
