@model Management_of_Change.Models.Task

@{
    ViewData["Title"] = "Details";
}

<h1>Task</h1>

<div>
    <div class="text-nowrap">
        <h4 class="mt-5">Details</h4>
        @*                <a class="me-2" asp-action="Edit" asp-route-id="@Model?.ChangeRequest?.Id">Edit</a>
        <a class="mx-2" asp-action="Index">Back to List</a>*@
        @if (ViewBag.IsAdmin || ViewBag.Username == Model.AssignedByUser || ViewBag.Username == Model.AssignedToUser)
        {
            @Html.ActionLink("Edit","Edit",new {id=@Model.Id, tab="Details"},new {@class="btn btn-primary"})
        }        
        @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"})
    </div>
    <hr />
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ChangeRequestId" />
    <dl class="row my-3">
        <div class="col-6">
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    MOC#
                </div>
                <div class="col-9">
                    @Html.ActionLink(Model.MocNumber,"Details","ChangeRequests",new {id=Model.ChangeRequestId, tab="Tasks"},new {@class=""})
                    @*@Html.DisplayFor(model => model.MocNumber) || ID: @Html.DisplayFor(model => model.ChangeRequestId)*@
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.Status)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.Status)
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.ImplementationType)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.ImplementationType)
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.Title)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.Title)
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.Description)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.AssignedByUser)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.AssignedByUser)
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.AssignedToUser)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.AssignedToUser)
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.DueDate)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.DueDate)
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.OnHoldReason)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.OnHoldReason)
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.CompletionDate)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.CompletionDate)
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.CompletionNotes)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.CompletionNotes)
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.CreatedUser)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.CreatedUser)
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.CreatedDate)
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.ModifiedUser)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.ModifiedUser)
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.ModifiedDate)
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.DeletedUser)
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.DeletedUser)
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.DeletedDate)
                    </dt>
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.DeletedDate)
                </div>
            </div>
        </div>
    </dl>
</div>
<div>
    @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>*@
    @if (ViewBag.IsAdmin || ViewBag.Username == Model.AssignedByUser || ViewBag.Username == Model.AssignedToUser)
    {
        @Html.ActionLink("Edit","Edit",new {id=@Model.Id, tab="Details"},new {@class="btn btn-primary"})
    }    
    @Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"})
</div>
