@model IEnumerable<Management_of_Change.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<form asp-controller="Tasks" asp-action="Index">
    <div class="row mt-3">
        <div class="col-7 text-start">
            @*<a asp-action="Create">Create New</a>*@
            @Html.ActionLink("Create New","Create",new {},new {@class="btn btn-primary"})
        </div>
        <div class="col-2 fw-bold text-end">
            Status:
        </div>
        <div class="col-2 text-start">
            @Html.DropDownList("statusFilter",
                new List<SelectListItem>{
                    new SelectListItem {Value="Open", Text="Open"},
                    new SelectListItem {Value="In-Progress", Text="In-Progress"},
                    new SelectListItem {Value="On Hold", Text="On Hold"},
                    new SelectListItem {Value="Complete", Text="Complete"},
                    new SelectListItem {Value="Cancelled", Text="Cancelled"},
                },
                "** All Tasks **",
            new {@class = "form-control form-select" })
        </div>
        <div class="col-1 text-end">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table table-bordered table-striped mt-5">
    <thead class="align-top align-text-top">
        <tr>
            <th>
                Task#
            </th>
            <th>
                for MOC#
            </th>
            <th>
                Implementation Type
            </th>
            <th>
                Title
            </th>
            <th>
                Status
            </th>
            <th>
                Assigned To User
            </th>
            <th>
                Assigned By User
            </th>
            <th>
                Due Date
            </th>
            <th>
                Completion Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-nowrap">
                    @*@Html.DisplayFor(modelItem => item.MocNumber)*@
                    @if (item.MocNumber == null)
                        @Html.DisplayFor(modelItem => item.MocNumber)
                    else
                        @Html.ActionLink(item.MocNumber,"Details","ChangeRequests",new {id=@item.ChangeRequestId, tab="Details"},new {@class=""})

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImplementationType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedToUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedByUser)
                    </td>

                    @if (DateTime.Now > item.DueDate && item.CompletionDate == null)
                {
                    <td class="fw-bolder text-danger">
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.CompletionDate)
                </td>
                <td class="text-nowrap">
                    @*                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    @if (ViewBag.IsAdmin || ViewBag.Username == item.AssignedByUser || ViewBag.Username == item.AssignedToUser)
                    {
                        @Html.ActionLink("Edit","Edit",new {id=@item.Id, tab="Index"},new {@class="btn btn-primary"})
                    }                    
                    @Html.ActionLink("Details","Details",new {id=@item.Id, tab="Details"},new {@class="btn btn-secondary"})
@*                    @if (item.DeletedDate == null)
                    {
                        @Html.ActionLink("Delete","Delete",new {id=@item.Id},new {@class="btn btn-danger"})
                    }*@
                </td>
            </tr>
        }
    </tbody>
</table>
