@model IEnumerable<Management_of_Change.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<div class="row mt-3">
    <div class="col-12 text-start">
        @*<a asp-action="Create">Create New</a>*@
        @Html.ActionLink("Create New","Create",new {},new {@class="btn btn-primary"})
    </div>
</div>
<table class="table table-bordered table-striped mt-5">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Assigned To User
            </th>
            <th>
                Assigned By User
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Completion Notes
            </th>
            <th>
                Completion Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedToUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedByUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionDate)
            </td>
            <td class="text-nowrap">
@*                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    @Html.ActionLink("Edit","Edit",new {id=@item.Id, tab="Index"},new {@class="btn btn-primary"})
                    @Html.ActionLink("Details","Details",new {id=@item.Id, tab="Details"},new {@class="btn btn-secondary"})
                    @if (item.DeletedDate == null)
                    {
                        @Html.ActionLink("Delete","Delete",new {id=@item.Id},new {@class="btn btn-danger"})
                    }
            </td>
        </tr>
}
    </tbody>
</table>
