@model IEnumerable<Management_of_Change.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<form asp-controller="Tasks" asp-action="Index">
    <div class="row mt-3">
        <div class="col-6 text-start">
            @*<a asp-action="Create">Create New</a>*@
            @Html.ActionLink("Create New","Create",new {source="Task"},new {@class="btn btn-primary"})
        </div>
        <div class="col-3 text-center">
            <input class="form-control" id="taskSearch" type="text" placeholder="Search..">
        </div>
        <div class="col-1 fw-bold text-end mt-2">
            Status:
        </div>
        <div class="col-2 text-start">
            @Html.DropDownList("taskStatusFilter",
                new List<SelectListItem>{
                    new SelectListItem {Value="Open", Text="Open"},
                    new SelectListItem {Value="In-Progress", Text="In-Progress"},
                    new SelectListItem {Value="On Hold", Text="On Hold"},
                    new SelectListItem {Value="Complete", Text="Complete"},
                    new SelectListItem {Value="Cancelled", Text="Cancelled"},
                },
                "All",
            new {@class = "form-control form-select", @id="taskStatusFilter" })
        </div>
@*        <div class="col-1 text-end">
            <input type="submit" value="Filter" class="btn btn-primary float-start" />
        </div>*@
    </div>
</form>

<table class="table table-bordered table-striped mt-5">
    <thead class="align-top align-text-top table-primary">
        <tr>
            <th>
                Task#
            </th>
            <th>
                for MOC#
            </th>
            <th>
                Implementation Type
            </th>
            <th>
                Title
            </th>
            <th>
                Status
            </th>
            <th>
                Assigned To User
            </th>
            <th>
                Assigned By User
            </th>
            <th>
                Due Date
            </th>
            <th>
                Completion Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="taskTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-nowrap">
                    @*@Html.DisplayFor(modelItem => item.MocNumber)*@
                    @if (item.MocNumber == null)
                        @Html.DisplayFor(modelItem => item.MocNumber)
                    else
                        @Html.ActionLink(item.MocNumber,"Details","ChangeRequests",new {id=@item.ChangeRequestId, tab="Tasks"},new {@class=""})

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImplementationType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedToUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedByUser)
                    </td>

                    @if (DateTime.Now > item.DueDate && item.CompletionDate == null)
                {
                    <td class="fw-bolder text-danger">
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.CompletionDate)
                </td>
                <td class="text-nowrap">
                    @*                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    @if (ViewBag.IsAdmin || ViewBag.Username == item.AssignedByUser || ViewBag.Username == item.AssignedToUser)
                    {
                        @Html.ActionLink("Edit","Edit",new {id=@item.Id, tab="Index"},new {@class="btn btn-primary"})
                    }                    
                    @Html.ActionLink("Details","Details",new {id=@item.Id, tab="Details"},new {@class="btn btn-secondary"})
@*                    @if (item.DeletedDate == null)
                    {
                        @Html.ActionLink("Delete","Delete",new {id=@item.Id},new {@class="btn btn-danger"})
                    }*@
                </td>
            </tr>
        }
    </tbody>
</table>

@*<script>
    $(document).ready(function () {

        $("#changeRequestSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#changeRequestTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $("#taskStatusFilter").change(function () {
            var value = $(this).val().toLowerCase();
            $("#taskTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            //$("#taskTable tr").find(data - type).each(function () {
            //    if ($(this).text() != $("#statusFilter").val())
            //        $(this).hide();
            //    else
            //        $(this).parent().show();
            //    if ($("#taskStatusFilter").val() == "All")
            //        $(this).show();
            //});
        });
    });
</script>*@
