@model IEnumerable<Management_of_Change.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<form asp-controller="Tasks" asp-action="Index">
    <input hidden value=@ViewBag.PrevSort id="TaskPrevSortId" />
    <input hidden value=@ViewBag.PrevStatusFilter id="TaskPrevStatusFilterId" />
    <div class="row mt-3">
        <div class="col-6 text-start">
            @*<a asp-action="Create">Create New</a>*@
            @Html.ActionLink("Create New","Create",new {source="Task"},new {@class="btn btn-primary"})
        </div>
        <div class="col-3 text-center">
            <input class="form-control" id="taskSearch" type="text" placeholder="Search..">
        </div>
        <div class="col-1 fw-bold text-end mt-2">
            Status:
        </div>
        <div class="col-2 text-start">
            @Html.DropDownList("taskStatusFilter", new SelectList(ViewBag.StatusList,"Value","Text"), new {@class = "form-control form-select", @id="taskStatusFilter"})
@*             new List<SelectListItem>{
            new SelectListItem {Value="Open", Text="Open"},
            new SelectListItem {Value="In-Progress", Text="In-Progress"},
            new SelectListItem {Value="On Hold", Text="On Hold"},
            new SelectListItem {Value="Complete", Text="Complete"},
            new SelectListItem {Value="Cancelled", Text="Cancelled"},
            },
            "All",
            new {@class = "form-control form-select", @id="taskStatusFilter" }) *@
        </div>
        @*        <div class="col-1 text-end">
        <input type="submit" value="Filter" class="btn btn-primary float-start" />
        </div>*@
    </div>
</form>

<table class="table table-bordered table-striped mt-5">
    <thead class="align-top align-text-top table-primary">
        <tr>
            <th>
                @Html.ActionLink("Task#","Index",new {sort="Task", prevSort = ViewBag.PrevSort, taskStatusFilter = ViewBag.PrevTaskStatusFilter, prevTaskStatusFilter = ViewBag.PrevTaskStatusFilter},new {@style="color:black;"})
                @if (ViewBag.PrevSort == "TaskAsc")
                {
                    <i class="bi bi-arrow-up-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                else if (ViewBag.PrevSort == "TaskDesc")
                {
                    <i class="bi bi-arrow-down-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                @* Task# *@
            </th>
            <th>
                @Html.ActionLink("for MOC#","Index",new {sort="Moc", prevSort = ViewBag.PrevSort, taskStatusFilter = ViewBag.PrevTaskStatusFilter, prevTaskStatusFilter = ViewBag.PrevTaskStatusFilter},new {@style="color:black;"})
                @if (ViewBag.PrevSort == "MocAsc")
                {
                    <i class="bi bi-arrow-up-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                else if (ViewBag.PrevSort == "MocDesc")
                {
                    <i class="bi bi-arrow-down-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                @* for MOC# *@
            </th>
            <th>
                @Html.ActionLink("Implementation Type","Index",new {sort="ImplementationType", prevSort = ViewBag.PrevSort, taskStatusFilter = ViewBag.PrevTaskStatusFilter, prevTaskStatusFilter = ViewBag.PrevTaskStatusFilter},new {@style="color:black;"})
                @if (ViewBag.PrevSort == "ImplementationTypeAsc")
                {
                    <i class="bi bi-arrow-up-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                else if (ViewBag.PrevSort == "ImplementationTypeDesc")
                {
                    <i class="bi bi-arrow-down-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                @* Implementation Type *@
            </th>
            <th>
                @Html.ActionLink("Title","Index",new {sort="Title", prevSort = ViewBag.PrevSort, taskStatusFilter = ViewBag.PrevTaskStatusFilter, prevTaskStatusFilter = ViewBag.PrevTaskStatusFilter},new {@style="color:black;"})
                @if (ViewBag.PrevSort == "TitleAsc")
                {
                    <i class="bi bi-arrow-up-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                else if (ViewBag.PrevSort == "TitleDesc")
                {
                    <i class="bi bi-arrow-down-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                @* Title *@
            </th>
            <th>
                @Html.ActionLink("Status","Index",new {sort="Status", prevSort = ViewBag.PrevSort, taskStatusFilter = ViewBag.PrevTaskStatusFilter, prevTaskStatusFilter = ViewBag.PrevTaskStatusFilter},new {@style="color:black;"})
                @if (ViewBag.PrevSort == "StatusAsc")
                {
                    <i class="bi bi-arrow-up-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                else if (ViewBag.PrevSort == "StatusDesc")
                {
                    <i class="bi bi-arrow-down-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                @* Status *@
            </th>
            <th>
                @Html.ActionLink("Assigned To User","Index",new {sort="AssignedTo", prevSort = ViewBag.PrevSort, taskStatusFilter = ViewBag.PrevTaskStatusFilter, prevTaskStatusFilter = ViewBag.PrevTaskStatusFilter},new {@style="color:black;"})
                @if (ViewBag.PrevSort == "AssignedToAsc")
                {
                    <i class="bi bi-arrow-up-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                else if (ViewBag.PrevSort == "AssignedToDesc")
                {
                    <i class="bi bi-arrow-down-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                @* Assigned To User *@
            </th>
            <th>
                @Html.ActionLink("Assigned By User","Index",new {sort="AssignedBy", prevSort = ViewBag.PrevSort, taskStatusFilter = ViewBag.PrevTaskStatusFilter, prevTaskStatusFilter = ViewBag.PrevTaskStatusFilter},new {@style="color:black;"})
                @if (ViewBag.PrevSort == "AssignedByAsc")
                {
                    <i class="bi bi-arrow-up-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                else if (ViewBag.PrevSort == "AssignedByDesc")
                {
                    <i class="bi bi-arrow-down-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                @* Assigned By User *@
            </th>
            <th>
                @Html.ActionLink("Due Date","Index",new {sort="DueDate", prevSort = ViewBag.PrevSort, taskStatusFilter = ViewBag.PrevTaskStatusFilter, prevTaskStatusFilter = ViewBag.PrevTaskStatusFilter},new {@style="color:black;"})
                @if (ViewBag.PrevSort == "DueDateAsc")
                {
                    <i class="bi bi-arrow-up-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                else if (ViewBag.PrevSort == "DueDateDesc")
                {
                    <i class="bi bi-arrow-down-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                @* Due Date *@
            </th>
            <th>
                @Html.ActionLink("Completion Date","Index",new {sort="CompletionDate", prevSort = ViewBag.PrevSort, taskStatusFilter = ViewBag.PrevTaskStatusFilter, prevTaskStatusFilter = ViewBag.PrevTaskStatusFilter},new {@style="color:black;"})
                @if (ViewBag.PrevSort == "CompletionDateAsc")
                {
                    <i class="bi bi-arrow-up-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                else if (ViewBag.PrevSort == "CompletionDateDesc")
                {
                    <i class="bi bi-arrow-down-circle-fill fw-bolder" style="color:green;" data-bs-toggle="tooltip" data-bs-html="true" title="Sort Column"></i>
                }
                @* Completion Date *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="taskTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-nowrap">
                    @*@Html.DisplayFor(modelItem => item.MocNumber)*@
                    @if (item.MocNumber == null)
                        @Html.DisplayFor(modelItem => item.MocNumber)
                    else
                        @Html.ActionLink(item.MocNumber,"Details","ChangeRequests",new {id=@item.ChangeRequestId, tab="Tasks"},new {@class=""})
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImplementationType)
                    </td>
                    <td>
                        @if (item.Priority == "High")
                        {
                            <i class="bi bi-exclamation-circle-fill" style="color:red;" data-bs-toggle="tooltip" data-bs- html="true" title="High Priority"></i>
                        }
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedToUserFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedByUserFullName)
                </td>
                @if (DateTime.Now > item.DueDate && item.Status == "Open")
                {
                    <td class="fw-bolder text-danger">
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                }
                else if (DateTime.Now > item.DueDate && item.Status == "In-Progress")
                {
                    <td class="fw-bolder text-danger">
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                }
                else if (DateTime.Now > item.DueDate && item.Status == "On Hold")
                {
                    <td class="fw-bolder text-danger">
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CompletionDate)
                </td>
                <td class="text-nowrap">
                    @*                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    @if (ViewBag.IsAdmin || ViewBag.Username == item.AssignedByUser || ViewBag.Username == item.AssignedToUser)
                    {
                        @Html.ActionLink("Edit","Edit",new {id=@item.Id, tab="Index"},new {@class="btn btn-primary"})
                    }
                    @Html.ActionLink("Details","Details",new {id=@item.Id, tab="Details"},new {@class="btn btn-secondary"})
                    @*                    @if (item.DeletedDate == null)
                {
                @Html.ActionLink("Delete","Delete",new {id=@item.Id},new {@class="btn btn-danger"})
                }*@
                </td>
            </tr>
        }
    </tbody>
    @if (Model.Count() == 0)
    {
        <tr>
            <td>No data found</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
</table>

@*<script>
    $(document).ready(function () {

        $("#changeRequestSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#changeRequestTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $("#taskStatusFilter").change(function () {
            var value = $(this).val().toLowerCase();
            $("#taskTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            //$("#taskTable tr").find(data - type).each(function () {
            //    if ($(this).text() != $("#statusFilter").val())
            //        $(this).hide();
            //    else
            //        $(this).parent().show();
            //    if ($("#taskStatusFilter").val() == "All")
            //        $(this).show();
            //});
        });
    });
</script>*@
