@model Management_of_Change.Models.AdditionalImpactAssessmentReviewersVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@
    @Html.ActionLink("Create","Create", new {}, new {@class="btn btn-success"})
    @Html.ActionLink("Back to List","Index", new {changeRequestId=Model.ChangeRequestId,tab=Model.Tab}, new {@class="btn btn-secondary"})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Change Request Id
            </th>
            <th>
                Id
            </th>
            <th>
                Reviewer
            </th>
            <th>
                ReviewType
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AdditionalImpactAssessmentReviewers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeRequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedDate)
            </td>
            <td class="text-nowrap">
                    @Html.ActionLink("Edit","Edit", new {id=item.Id}, new {@class="btn btn-Primary"})
                    @Html.ActionLink("Details","Details", new {id=item.Id}, new {@class="btn btn-Secondary"})
                    @Html.ActionLink("Delete","Delete", new {id=item.Id}, new {@class="btn btn-Error"})
@*                 <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>    *@                 
            </td>
        </tr>
}
    </tbody>
</table>
@Html.ActionLink("Back to List","Index", new {}, new {@class="btn btn-secondary"})